[2014-01-17 06:46] sayanee opened #1 "canvas id should be configurable"
current `<canvas id="pdf-canvas">` is fixed. the `id` attribute should be configurable by the developer.

[2014-01-17 06:47] sayanee opened #2 "pageCount on first load is not available"
![image](https://f.cloud.github.com/assets/413879/1938257/3cdc885c-7f43-11e3-89b4-c2bdada997e4.png)

[2014-01-17 08:06] timoxley opened #3 "Crashes Chrome if Click > button"
![screen shot 2014-01-17 at 4 05 13 pm](https://f.cloud.github.com/assets/43438/1938573/24a1a2da-7f4e-11e3-95f3-a7d9cd4090a7.png)
1. Go to http://sayan.ee/angularjs-pdf/
2. Shift-Refresh (i.e. ensure no cached assets)
3. Click >

Tested in OSX Chrome 32.0.1700.77 and 34.0.1789.0 canary. No issue in either Firefox 26.0 or Safari 7.0.1 (9537.73.11).

Just FYI

[2014-01-17 15:14] sayanee opened #4 "Github fork ribbon on demo page"
[fork ribbon](https://github.com/blog/273-github-ribbons) on [demo page](http://sayan.ee/angularjs-pdf/)

[2014-01-30 06:22] sayanee opened #5 "jump to a page number with url hash"
`example.com#P23` should jump to the page number 23

[2014-02-12 01:44] #4 closed, assigned to sayanee

[2014-04-29 00:55] wmbutler opened #8 "SyntaxError: Unexpected token <"
![screen shot 2014-04-28 at 7 39 05 pm](https://cloud.githubusercontent.com/assets/1254810/2824693/dac24a96-cf36-11e3-910a-9b1758c41044.png)

Here is my controller:

[code]

Here is my template: /views/partials/viewer.html:

[code]

Here is my reference to the /views/partials/viewer.html located on the html document where I need to embed the actual pdf:

[code]

Here is my app.js:

[code]

My inde

[2014-05-17 14:48] #1 closed, assigned to sayanee

[2014-05-25 21:00] renege opened #9 "Empty canvas?"
I did just the following reference for the ng-controller:

[code]

And the view ist just as simple as:

[code]

This should work, right? Strange it doesn't.. No console errors.. What am I missing?

[2014-05-27 12:41] #9 closed, assigned to nobody

[2014-05-27 12:48] #8 closed, assigned to nobody

[2014-05-27 12:49] #3 closed, assigned to sayanee

[2014-05-31 15:23] #5 closed, assigned to sayanee

[2014-06-01 08:39] #2 closed, assigned to sayanee

[2014-06-26 23:54] ghost opened #10 "printing"
Hello,

How does one print from a pdf in chrome?

Thanks,
Evan

[2014-06-28 11:56] #10 closed, assigned to nobody

[2014-07-03 06:50] sreeni-parchuri opened #11 "Not working in IE 9"
Hi ,
I found the demo url is not loading the pdf content in IE 9 browser . Can you please let me know more details.

Kamal

[2014-07-07 15:11] Grigorius opened #12 "isolated scopes data-binding"
If you are using for example http://angular-ui.github.io/bootstrap/#/modal which creates an isolated scope - then the `pageNum` attribute is no longer databinded.

To fix this issue I just moved `pageNum` one level deeper - so the pointer is referenced:
`scope.pageData = {};
scope.pageData.pageNum = pageNum;`

Also in the example:
Viewer.html has
`<input type="text" min=1 ng-model="pageNum">`
it s

[2014-07-17 09:38] thainq-qsoftvn opened #13 "Not able to select the text inside the pdfviewer."
Hi sayanee,
First of all thank you very much for writing this directive. This is really for so many people. Can you please add the text selection as well to this directive so that the pdfviewer will be more useful.

Thanks & Regards,

[2014-07-19 02:05] #13 closed, assigned to nobody

[2014-08-30 06:26] sayanee opened #14 "add CONTRIBUTING.md"

[2014-08-30 06:26] sayanee opened #15 "add bower dependencies"

[2014-08-30 06:27] sayanee opened #16 "add current versions of pre-requisites supported"
E.g. version for angularjs, angular-route and pdf js

[2014-08-30 06:28] sayanee opened #17 "add jscs to grunt task"
E.g. version for angularjs, angular-route and pdf js

[2014-09-17 10:53] sayanee opened #19 "gmail detecting as a virus when zipping the entire project"
![virus](https://cloud.githubusercontent.com/assets/413879/4302313/c8b97e32-3e58-11e4-987e-601f6f4fc4b0.png)

[2014-09-17 14:37] #19 closed, assigned to nobody

[2014-09-25 14:00] #15 closed, assigned to sayanee

[2014-09-25 14:00] #17 closed, assigned to sayanee

[2014-09-25 14:04] #16 closed, assigned to sayanee

[2014-09-25 14:08] #11 closed, assigned to sayanee

[2014-09-25 14:14] #14 closed, assigned to sayanee

[2014-09-25 14:18] #12 closed, assigned to sayanee

[2014-10-24 01:15] sayanee opened #20 "add ignore in bower.json"
for `bower info angular-pdf` include [ignore](https://github.com/bower/bower.json-spec#ignore):

[code]

[2014-10-24 09:26] l-lin opened #21 "Error when rerendering the PDF"
I have an use case in which the user can switch to view another PDF. The first time, the PDF is displayed correctly.
However, when modifying the `$scope.pdfUrl`, it throws the following error:

[code]

My code looks like this:
- Controller:

[code]
- Template:

[code]
- billPDF.html:

[code]

[2014-10-24 13:56] #21 closed, assigned to nobody

[2014-10-30 11:39] #20 closed, assigned to nobody

[2014-10-30 13:55] srdjanprpa opened #22 "PDF Multipage"
Is it possible to display all pages, without next and prev page?

[2014-10-31 01:37] #22 closed, assigned to nobody

[2014-11-11 05:03] SarthakGowda opened #23 "Unable to Open PDF files in Firefox, iPhone and Android devices"
Hi,

Im using I phone 5s Safari Browser the issue is like i'm unable to open pdf files in it instead it displays a blank page.

In Android devices the pdf files are being downloaded instead of displaying it.

I even checked the default pdf  ‪http://sayan.ee/angularjs-pdf provided by you in the code.

[2014-11-13 01:43] sayanee opened #24 "Add browser test for chrome, safari, firefox"
With Chai, Mocha, [Selenium Webdriver](https://www.npmjs.org/package/selenium-webdriver), [Safari driver](https://code.google.com/p/selenium/wiki/SafariDriver), [Chrome driver](https://code.google.com/p/selenium/wiki/ChromeDriver) and Firefox.

Test that takes screenshots on all browsers for various actions

Related issue #23

[2014-11-24 15:49] Wooleners opened #25 "Cross-domain"
Pdf file when I use a cross-domain configuration it is there？

[2014-12-17 18:54] jperugini opened #26 "Unknow provider when uglifying code"
Hi,

I ran into this issue when I tried to "uglify" my libraries
`Unknown provider: aProvider <- a <- ngPdfDirective`
I had to modify the directive as follow

`['$window', function($window) { ... }]`

No big deal just thought it was worth mentioning it in case other people run into the same issue.
Thanks for the library.

[2014-12-27 12:26] #25 closed, assigned to nobody

[2014-12-27 12:28] #26 closed, assigned to nobody

[2014-12-27 13:59] #23 closed, assigned to nobody

[2015-01-02 11:49] sameer22 opened #27 "http://sayan.ee/angularjs-pdf/ - Not working in Safari"
Tried to open in Safari but couldn't.

Can u please check.

Regards
Sameer

[2015-01-03 11:52] sayanee commented on #27
@sameer22 yes the issue with Safari is intermittent. But when opening the example locally in Safari, it should be fine.

[2015-01-04 12:41] AbhayNawathey opened #28 "Progress Bar or Loading"
How can we show the progress or loading spinner while the PDF is loading from the server. It takes a while before it actually displays the PDF so just a curious question if can show some spinner may be with pages loading

[2015-01-06 07:19] sayanee commented on #28
:+1: totally agree!

[2015-01-08 07:03] Wooleners opened #29 "pdf worker"
In the compression of time I found PDF always request worker JS but I am in your JS is set inside the worker disblead found no effect

[2015-01-13 10:57] sasa72 opened #30 "Toolbar page input und next button"
Hi!

In your demo http://sayan.ee/angularjs-pdf/ choose "2" at the page inputfield of the toolbar:
page 2 is shown.
Then press the next button >
page 21 is shown.
The number "1" is appended to the number that was prompted in the inputfield which is not correct.

[2015-01-14 08:55] #27 closed

[2015-01-16 00:19] picolo74 opened #31 "Handle PDFJ.getDocument error"
Hi,

I have a lot of pdf wich can not be opened by the lib and the directive does not handle errors.

you just have to handle the  PDFJS.getDocument() promise error.

and allow to bind a function to handle it outside the directive

Thank you

[2015-01-29 22:57] jlebensold commented on #28
bump!

[2015-02-18 10:43] #30 closed

[2015-02-18 11:04] #31 closed

[2015-02-18 12:12] sayanee commented on #31
thanks for the idea @picolo74!

It is important to handle the error. Please [try this now](https://github.com/sayanee/angularjs-pdf#handle-error) as updated in the readme.

[2015-02-18 13:00] sayanee commented on #28
closed with b2d291182f9adec5e839d78e7d937e63c818f84c and 4b5dc9832cd052cbcc9dcc7035bab8d07951c79b

[2015-02-18 13:00] #28 closed

[2015-02-18 13:04] sayanee commented on #28
thanks for the suggestions again :smiley:  2 events are now exposed:

1. `onLoad` will be executed when the pdf is fully loaded ([check docs](https://github.com/sayanee/angularjs-pdf#show-loading))
- `onProgress` will be executed with progress loaded and total details ([check docs](https://github.com/sayanee/angularjs-pdf#show-progress-percentage) and [example's browser console](http://sayan.ee/an

[2015-02-18 13:07] sayanee commented on #24
tests to include:

1. go next
- go prev
- zoom in
- zoom out
- rotate 90 deg
- scroll with fixed position
- jump to page with textbox
- handle error when pdf file is not found
- handle loading event
- handle progress percentage

[2015-02-18 13:11] sayanee commented on #29
Yes [pdfjs](https://github.com/mozilla/pdf.js/), which is a dependancy will use `pdf.worker.js` as defined in the [example folder](https://github.com/sayanee/angularjs-pdf/tree/master/example).

Let me know if there are other errors.

[2015-02-18 13:11] #29 closed

[2015-02-18 21:01] picolo74 commented on #31
Thank you, works great !

[2015-03-16 14:40] raenzen commented on #9
Hi!

First of all thanks for this directive!

I have the same problem: an empty canvas!

My directive is in a view which is routed to by a stateprovider:

[code]

This is the viewer.html with the canvas:
[code]

My controller:

[code]

When i check the console i can see the correct path to the pdf. Any guess what might be wrong?

Thanks a lot!

[2015-03-21 06:12] tirumalavasu opened #36 "Can i convert a pdf to json using angular js?"
It's not an issue. It's a requestt. Can anyone help me in converting pdf to json using angular js?

[2015-03-25 02:45] rafakwolf opened #37 "Blob data instead a pdf file"
like this:

 var file = new Blob([data_from_some_api], { type: "application/pdf" });
 var fileUrl = URL.createObjectURL(file);

[2015-03-26 02:32] sayanee commented on #36
This is out of scope for this module. Hence i'm closing it.

[2015-03-26 02:32] #36 closed

[2015-05-05 12:48] Grigorius commented on #37
This works.

[2015-05-14 16:11] fabianrios opened #42 "Is there a way to dynamically change the pdf?"
Im trying to make a select box which dynamically change the pdf in the view any advice about how to achieve this ?

[2015-05-23 09:11] rebelholic opened #43 "Ionic"
Before I fork this plugin, I have some questions below:

This plugin support for ionic framework or not?
Do you think this plugin will get same problem with [this issue](https://github.com/bpampuch/pdfmake/issues/296)?

[2015-05-26 10:41] sayanee commented on #43
this plugin does not support ionic framework - only angularjs

[2015-05-26 10:41] #43 closed

[2015-05-26 11:41] sayanee commented on #24
YAGNI - just manually run it in the browsers:

- Chrome
- Firefox
- Safari
- Opera

[2015-05-26 11:41] #24 closed

[2015-05-26 11:45] sayanee commented on #42
Not exactly sure of your use case, but sure you can amend the path `$scope.pdfUrl` upon a click, user input or anything else in the controller.

[2015-05-26 11:45] #42 closed

[2015-05-26 11:50] sayanee commented on #37
I guess this issue is ok now? I'm closing this. Feel free to reopen with a pull request or other suggestions.

[2015-05-26 11:50] #37 closed

[2015-06-16 11:13] madhu131313 opened #44 "Is there a way to load all pages, so that the page can be scrolled like in pdf js viewer"
I have issues using pdf js viewer,so I want this so that I can scroll through all pages.

[2015-06-19 07:37] sayanee commented on #44
No, that is not supported as it will not be a simple viewer anymore.

Hope the dependancy module [pdf js](http://mozilla.github.io/pdf.js/#) itself will be useful for this purpose. Here's [an example](http://mozilla.github.io/pdf.js/web/viewer.html)

[2015-06-19 07:37] #44 closed

[2015-06-19 07:39] madhu131313 commented on #44
Thanks, I know i can use PDF JS viewer but pdfjs viewer is not good for
customization.

[image: photo]
*Madhu Sudhan*
Founder, CEO, Kroods Technologies
m:7418991535 | w:http://kroodstech.com
<https://www.facebook.com/KroodsTech>
<https://www.linkedin.com/profile/view?id=95937344>

On Fri, Jun 19, 2015 at 1:07 PM, Sayanee Basu <notifications@github.com>
wrote:

[2015-06-29 15:50] Targun opened #45 "ng-repeat pages"
Looking for a way to ng-repeat through the pages - so they all show at once?

[2015-07-06 04:05] terencemutizwa opened #46 "how do you change the pdf source"
When i change the pdf url in the controller, it dosn't render the new pdf

[2015-07-09 14:01] xudongli113 opened #47 "pdf viewer not working in safari"
The demo seems not working in Safari browser, any idea how to solve this?

many thanks
xudong

[2015-07-14 01:32] sayanee commented on #46
Any code sample and error messages from the browser console?

[2015-07-14 10:44] fernoftheandes commented on #46
@sayanee, this is related to issue #42. You do not have a watch for the changes to `pdfUrl`. Here is a snippet of code that can do it (inside `angular-pdf.js`):

    scope.$watch('pdfUrl', function(newVal) {
          if(newVal !== ""){
            console.log("pdfUrl value change detected: ", scope.pdfUrl);
            url = newVal;
            scope.pageToDisplay = 1;
            renderPDF();

[2015-07-15 01:14] sayanee commented on #46
thanks @fernoftheandes - yes please send a pull request

[2015-08-05 10:27] Rajesh20243034 opened #50 "Error"
Invalid parameter in getDocument, need either Uint8Array, string or a parameter object

[2015-08-08 08:45] benlooi commented on #46
hello! I had to solve this for my project. Managed to do exactly what @fernoftheandes suggested. It works!
So in my Controller, I can now assign values to $scope.pdfUrl and it updates my template. I am using a Semantic UI modal to show PDF files when clicked on a list of ng-repeat divs, so each ng-click calls a function that passes a value that forms part of the pdfUrl string.

[2015-08-08 23:31] fernoftheandes commented on #46
Yes, the solution works well...let's hope @sayanee will accept the pull request. It's been sitting there for a few weeks now.

[2015-08-09 04:32] sayanee commented on #46
#49

[2015-08-09 04:32] #46 closed

[2015-08-09 04:59] sayanee commented on #50
Seems like an error from the underlying dependancy pdf.js:

https://github.com/mozilla/pdf.js/blob/d3e90cf825ae7af85f250db7d4b168d9cdce3214/src/display/api.js#L264-L265

You might wanna check this: http://stackoverflow.com/questions/30319343/which-java-datatype-is-required-when-calling-javascript-method

[2015-08-09 04:59] #50 closed

[2015-08-09 05:08] sayanee commented on #46
Thanks you so much @fernoftheandes. We can all now download the latest version `1.0.2` with `bower i angular-pdf` :tada:

[2015-08-11 20:37] TIFU124 opened #51 "Load PDF URL from Promise"
Is there any way to do this? Trying to mess around with doing synchronys calls, but that just feels wrong in Angular... As I see it currently, the `$scope.pdfUrl` needs to be set *as soon as* the controller loads, otherwise it throws an error. Perhaps my implementation is wrong?

[2015-08-11 20:46] TIFU124 commented on #51
Wait sorry, found #49 and updated. Thanks for the library!

[2015-08-11 20:46] #51 closed

[2015-08-18 19:36] rwwagner90 opened #52 "page-fit doesn't work"
I am trying to render a responsive pdf, and page-fit will not work. I noticed one problem. scale is set like so:

[code]

Then the page-fit logic does this if:

[code]

That will never be true, because scale gets set to `1` by the ternary statement.

Even when I remove the second condition from the if, it still does not work though. clientWidth and clientHeight are both 0, so it doesn't scale anyt

[2015-08-18 20:33] rwwagner90 opened #53 "PDF fuzzy on retina"
I already have fixed this locally, so I can submit a PR, if you'd like. You're welcome to fix it yourself if you would rather too.

[2015-08-24 01:28] sayanee commented on #53
wow! thanks - yes please send a PDF :+1:

[2015-08-24 01:47] rwwagner90 commented on #53
I assume by PDF you mean PR? :stuck_out_tongue:

I will try to clean it up and submit something this week.

[2015-08-24 01:53] sayanee commented on #53
LOL yes, please send a pull request :stuck_out_tongue_closed_eyes:

[2015-08-24 01:54] rwwagner90 commented on #53
I actually looked at my retina support commit, and it might be good as is. I submitted a PR. Please let me know your thoughts and I'll be glad to make an necessary changes.

[2015-08-30 08:37] #53 closed

[2015-08-30 13:38] rwwagner90 commented on #52
@sayanee I got around this by just manually calculating the scale in my app and passing it to the directive. I may be able to adjust my logic a bit and fix page-fit.

[2015-08-31 14:47] F3L1X79 commented on #47
Same here. Would like to know if it would take much time to make a fix or not becauser the console is not displaying any errors.

Thanks a lot for the hard work btw.

[2015-09-01 08:05] F3L1X79 commented on #47
Nevermind, it seems to be working with the compatibility.js file of PDF.JS and your last commit.

[2015-09-04 11:02] saawan787 opened #55 "How to load entire pdf in the viewer?"

[2015-09-04 11:03] saawan787 commented on #44
How to load entire pdf in the viewer??

[2015-09-05 10:41] madhu131313 commented on #44
Try this Bootstrap PDF JS Viewer

https://github.com/justindarc/bootstrap-pdf-viewer/ , Let me know if that
suffices your requirement

Thanks and Regards,

*Madhu Sudhan*
Co-Founder, PutPeace App
m:7418991535 | w:http://putpeace.com
<https://www.facebook.com/madhu.one.three>
<https://www.linkedin.com/profile/view?id=95937344>

On Fri, Sep 4, 2015 at 4:33 PM, Sandeep Patil <notifications@github.com

[2015-09-07 12:05] saawan787 commented on #44
Hi,
Bootstrap PDF JS Viewer is nice.but how can perform some actions when reaching a specified page.i have generate a bootstrap modal when reaching a specified page.suppose given 4 as input then modal box generate on the pdf page number 4 using scrolling.If this possible using this Bootstrap PDF JS Viewer please asap me solution for that.
Thanks in advance!!

[2015-09-07 22:32] ElRoberto538 commented on #53
Hi guys, I have noticed that this PR results in a blurry canvas due to the dimensions being set to decimal values e.g. 1024.3456. When both the canvas dimensions and the style dimensions are set to this value the canvas dimensions appear to be truncated but the style dimensions will stay as a number containing decimals and so they won't match - this results in blurring (tested on 1080p monitor in

[2015-09-08 01:29] sayanee commented on #53
Thanks @ElRoberto538! Could you send us a pull request to the changes in this file `example/js/directives/angular-pdf.js`? Also do you have a sample pdf page?

I have a retina screen that I can test on.

[2015-09-08 01:31] ElRoberto538 commented on #53
No problem, I will create a pull request later today - I will also find a suitable sample PDF to demonstrate the fix.

[2015-09-09 14:29] rwwagner90 commented on #53
Good catch @ElRoberto538. I have a retina screen, I'd be glad to check it out. Let me know when a PR is up.

[2015-09-10 01:09] sayanee commented on #53
@rwwagner90 - it's here: https://github.com/sayanee/angularjs-pdf/pull/56

thanks everyone :star2:

[2015-09-27 08:56] sayanee opened #57 "detect correct language"
![image](https://cloud.githubusercontent.com/assets/413879/10121958/52808e7e-6538-11e5-8353-ce64b6bb9942.png)

with [gitattributes](https://github.com/github/linguist#using-gitattributes)

[2015-09-27 08:56] sayanee commented on #57
![image](https://cloud.githubusercontent.com/assets/413879/10121969/be65dafe-6538-11e5-88ad-edd776b99a05.png)

[2015-09-27 08:56] #57 closed

[2015-10-27 19:06] dohomi opened #58 "working with angular 1.4.x"
Hello,

I would like to know if this plugin works with Angular 1.4?

Best,
Dominic

[2015-10-27 19:15] dohomi commented on #58
So far it works pretty well, would be nice if you could adjust your bower file. Cheers!

[2015-10-28 09:14] sayanee commented on #58
:+1: will upgrade to Angular `1.4.x` by this week and make a release

[2015-10-28 09:34] dohomi commented on #58
Nice!

[2015-10-31 04:20] sayanee commented on #58
closed with fea08d92c01dda023c95c775bd46e04440d2091a and tagged [1.2.1](https://github.com/sayanee/angularjs-pdf/releases/tag/1.2.1)

[2015-11-04 06:04] sayanee opened #61 "make dist/angular-pdf.js editable"
All PRs till now were for `dist/angular-pdf.js` as changing `example/js/directives/angular-pdf.js` is not intuitive.

Hence, make file `example/js/directives/angular-pdf.js` be built with `grunt uglify` instead.

[2015-11-07 08:54] #61 closed

[2015-11-08 00:43] dohomi opened #62 "display the pdf if the url is base64 or Uint8Array"
Hi @sayanee the pdfjs-dist is currently in ```1.2.83```. Any plan of updating the bower to the newest version or any known bugs?
https://github.com/mozilla/pdfjs-dist/blob/master/package.json

[2015-11-08 03:10] sayanee commented on #62
Yes, I will upgrade it to `1.2.83`.

Does this version display the pdf if the `url` is [base64 or Uint8Array](https://github.com/sayanee/angularjs-pdf/commit/641b5753bc2cb3249751401f851da40497a1a26e#commitcomment-14260730)? Help me test it with your use case. Thank you!

[2015-11-08 16:13] dohomi commented on #62
What I basically did solving it I created a Blob
[code]
Now it works. Importantly ```pdfUrl```now needs to be a string of existing ```http```string, otherwise it won't work. Before the change it could be the raw ```Uint8Array```but I can live with the change. Thanks for your update and feedback.

[2015-11-08 16:13] #62 closed

[2015-11-08 16:19] dohomi commented on #52
I have seen the same issue. What are the referenced forks? Are they planed to get merged into the current repo?

[2015-11-10 11:52] sayanee commented on #47
Yes, I also realised that with Safari, it was varying for the older version. It seems to be fixed now.
Feel free to open this when the problem re-occurs.

![image](https://cloud.githubusercontent.com/assets/413879/11061814/9b2ff80c-87e4-11e5-8b31-e1fdc9feaa76.png)

[2015-11-10 11:52] #47 closed

[2015-11-18 10:10] sayanee commented on #55
related #45

[2015-11-18 10:11] sayanee commented on #45
Closing as it's related to #55

[2015-11-18 10:11] #45 closed

[2015-11-18 19:18] simobasso commented on #55
@sayanee what is your opinion on this request? it's ok for you? can I try to pull request?

[2015-11-19 00:52] sayanee commented on #55
Sure @simobasso :smiley:

[2015-11-19 01:07] #52 closed

[2015-11-19 04:28] sayanee opened #66 "add open open source link in readme and contributing.md"
http://openopensource.org/

[2015-11-19 09:18] jcampalo opened #67 "Page attribute doesn't work"
There is a issue with page attribute, whatever you do is overwritten to page one when the directive is initialized, you can see it in the example of the project.

[2015-11-19 09:39] simobasso commented on #67
Hi @jcampalo, thanks, you have right!

I try to patch today.

[2015-11-19 13:48] #66 closed

[2015-11-19 14:44] #67 closed

[2015-11-19 17:22] soubok opened #70 "issue when quickly goNext()"
Hello,
I have a pdf (1.6Mo with images) that I converted with libreOffice from a ppt.
When I ```goNext()``` quickly (with a <a> button) the content of the pdf get sometimes completely crazy (head upside and mix between pages).
Any idea where this come from ?

[2015-11-19 17:34] simobasso commented on #70
Hi @soubok, thanks.

Can you create an example on jsbin?

I can't reproduce.

[2015-11-19 20:13] soubok commented on #70
Issue fixed with version 1.2.4 and 1.2.5, but now I get the following error when the route is reloaded (with ```$route.reload()```):

```TypeError: pdfLoaderTask.destroy is not a function```

[2015-11-19 20:42] soubok commented on #70
testcase:
[code]

[2015-11-20 08:01] simobasso commented on #70
Hi @soubok, thanks for the report:

1. your example don't match [Requirements](https://github.com/sayanee/angularjs-pdf#requirements), missing the worker
1. please, can you open an example on [jsbin](http://jsbin.com/)? it's very hard help you on a copy&paste
1. next time, open a new issue for new problem

Cheers

[2015-11-20 09:03] timtos commented on #70
Hi @soubok, are you using a recent version of pdf.js? But anyway, perhaps it is a good idea to add something like if 183: if (pdfLoaderTask && (typeof pdfLoaderTask.destroy === 'function')) {

What do you think? If we agree that this is a way to go, I would offer to make the change later.

[2015-11-20 09:19] soubok commented on #70
Hello, ( and sorry for points 2. and 3.).
I use PDF.js 1.1.469 (and my browser is the latest google chrome).
Note that the issue is not only related to reloading a route. When I leave then I come back to a view that contains angularjs-pdf, the same error appears.

[2015-11-20 09:31] timtos commented on #70
@soubok, can you then update your pdf.js? The version currently used (https://github.com/sayanee/angularjs-pdf/blob/master/example/js/lib/pdf.js) is 1.2.131. Does that already help? In line 2009 there is a destroy function defined for PDFDocumentLoadingTask ;) Keep us posted!

[2015-11-20 09:31] jcampalo opened #71 "Pdf url set as an attribute instead of use $scope"
Maybe is not an issue, but it will be a major improvement setting pdfUrl
 throught an attribute of the directive instead of using controller's scope.

[2015-11-20 10:12] soubok commented on #70
Thnaks, the pdfLoaderTask.destroy error does no occurs any more with v1.2.131

[2015-11-20 10:21] soubok commented on #70
I noticed the following warning in the console with v1.2.131:
```Warning: Deprecated API usage: getDocument is called with pdfDataRangeTransport, passwordCallback or progressCallback argument```

[2015-11-20 10:22] timtos commented on #70
Good to hear. I would then say, we can close this issue.

[2015-11-20 10:22] #70 closed

[2015-11-20 10:25] timtos commented on #70
@soubok, the warning you mentioned is definitely something, that has to be fixed in the future. But "the old way" is currently still fully supported. So at least for now, you can safely ignore this warning.

[2015-11-20 10:29] simobasso commented on #71
Hi @jcampalo thanks for the proposal.

What do you think to submit a pull request?

[2015-11-20 11:01] soubok opened #72 "blank canvas when $route.reload() if ngAnimate is in module dependances"
Hello,
the testcase is here: http://jsbin.com/fuvasitoje/edit?html,output
If you just remove 'ngAnimate' from the dependances, everything run well.

[2015-11-20 11:35] simobasso commented on #72
Hi @soubok thanks for report!

[2015-11-20 12:48] ertanden commented on #25
The problem is when trying to view a file which is stored in another domain (example: Amazon S3) than your web site.

Browsers does not allow this... Sometimes we need to add special headers to the HTTP request in order for cross-domain requests to work. Is it possible to customize headers for the GET request?

[2015-11-20 13:22] simobasso commented on #25
Hi @ertanden,

you can do it using cors:
http://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html

I hope this help you:
https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#can-i-load-a-pdf-from-another-server-cross-domain-request

[2015-11-20 14:04] sayanee opened #73 "Release 1.2.6"
Are we ready for a small patch release `1.2.6`?

- #52
- #66
- #67
- #68

[2015-11-20 14:25] simobasso commented on #73
yup!

[2015-11-20 14:41] sayanee commented on #73
161425bdca0b7a68fb0c33900148a57a40fab938

[2015-11-20 14:41] #73 closed

[2015-12-02 16:57] dereklin opened #75 "Had to change pdf to pdf-canvas for example to work"
I was trying out the example.  I had to change
[code]
to
[code]
for the code to work

[2015-12-02 18:03] dereklin opened #76 "100% zoom not working after zooming in"
Go to http://sayan.ee/angularjs-pdf/
Zoom in a few times.  And then click on 100%.  Not thing happens.  I expected the page to go back to 100%.

[2015-12-02 18:10] simobasso commented on #75
Hi @dereklin thanks for the report.

do you have set the attribute `canvasid` on your directive like this?

[code]

[2015-12-02 18:14] simobasso commented on #76
Hi @dereklin thanks for the report (again)!

yes, you are right.

Thx

[2015-12-02 18:16] simobasso commented on #76
What do you think to submit a pull request?

[2015-12-02 18:25] dereklin commented on #75
@simobasso my directive usage is just:
[code]

[2015-12-02 18:37] simobasso commented on #75
`canvasid` have as default `pdf-canvas`, if you want ovveride it you can do it as attribute `canvasid` in directive `ng-pdf`

What example have you look?

## Getting Started
use this `canvas`:
[code]

## Code Example
use this `directive`:
[code]

I hope this help you,
cheers

[2015-12-02 21:46] shannonfoster opened #77 "Trying to implement this as a 'preview', server is returning pdf content, not a url... best way to implement"
I need to use this a a method to preview a working file and the backend hands me the pdf content rather than a url to the file.  How would I use this directive without a file path?

[2015-12-03 06:53] sayanee commented on #77
Are you using `Unit8Array` then? See some instructions from the [pdf.js dependancy](https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#can-i-specify-a-different-pdf-in-the-default-viewer)

[2015-12-03 06:53] sayanee commented on #76
:+1:

[2015-12-03 13:47] shannonfoster commented on #77
Thank you for the response.... is there an example I can follow?

[2015-12-03 14:12] sayanee commented on #77
Could you try this [code snippet from another previous issue](https://github.com/sayanee/angularjs-pdf/issues/62#issuecomment-154835933) as suggested? He also wanted to use ` base64` or `Uint8Array`?

Seems like you need to create a blob:

[code]

[2015-12-07 20:41] sidahmedbenkhaoua opened #78 "print pdf"
how print the pdf

[2015-12-07 20:47] simobasso commented on #78
Hi @sidahmedbenkhaoua,
at this time it isn't possible, but a pull request is welcome!

[2015-12-07 20:55] #75 closed

[2015-12-10 23:20] rwwagner90 opened #79 "getContext failing when deployed"
I'm not sure if this is an error with this library or the fact I am putting it in a UI Bootstrap modal or what exactly is happening, but everything works flawlessly locally, then when I deploy I get an error with getContext.

The problem is, getElementById('pdf-canvas') does not seem to be working, so the element is not there for some reason. Locally the element is there, but deployed it is not.

[2015-12-11 09:47] Elecash commented on #79
This is happening to me also unit testing with PhantomJS.

Trying to figure out what's wrong, I would try to PR if I found it.

[2015-12-11 09:47] simobasso commented on #79
Hi @rwwagner90,
can you create an example on jsbin/jsfiddle?

[2015-12-11 09:50] simobasso commented on #79
Hi @Elecash,

can you create an example with your unit test?

[2015-12-11 09:53] Elecash commented on #79
Hi @simobasso

Basically I have a directive that contains `ng-pdf`and when I execute tests Karma can't run due to an error.

My unit test:
[code]

[2015-12-11 11:05] simobasso commented on #79
@Elecash https://docs.angularjs.org/guide/unit-testing#testing-directives-with-external-templates maybe this help you

[2015-12-11 11:12] Elecash commented on #79
That's not the problem, I already have all my templates with $templateCache.

For the moment I'm just going to disable those tests. So far everything is working, is just those tests. I would try to fix it next week tho.

Anyway, good work with the library, it worked better than other libraries that I've tested :smile:

[2015-12-11 11:14] simobasso commented on #79
Thanks!

We wait your pull request!

[2015-12-11 16:12] simobasso commented on #72
Hi @soubok, try this:

[code]

[2015-12-11 20:30] gimoteco opened #80 "There is no way to set Authentication Header"
When I get a pdf from secured source (through bearer token) I can't set a the requisition headers.

[2015-12-12 14:03] simobasso commented on #80
hi @gimoteco,
I hope [this](https://github.com/sayanee/angularjs-pdf/pull/60) help you!

[2015-12-14 01:51] sayanee opened #81 "add ignore in bower.json"
Add the following files to `ignore` in file `bower.json` so that the folder size is much lesser:

1. `CONTRIBUTING.md`
- `Gruntfile.js`
- `example` (Size 2.5MB)

Examples of `ignore` in other projects:

1. [prism js](https://github.com/PrismJS/prism/blob/gh-pages/bower.json#L15-L28)
- [bootstrap](https://github.com/twbs/bootstrap/blob/master/bower.json#L21-L30)
- [underscore](https://github.com/ja

[2015-12-15 01:44] #76 closed

[2015-12-15 02:12] #81 closed

[2015-12-15 08:47] simobasso commented on #72
@soubok news?

[2015-12-15 08:49] simobasso commented on #77
@shannonfoster it worked? we can add to Doc?

[2015-12-15 08:52] simobasso commented on #78
@sidahmedbenkhaoua isn't possible print the pdf, but you can use `window.print()` to print the page.

To exclude other element you can use css's `@media print`.

Let me know!

[2015-12-15 08:53] simobasso commented on #80
@gimoteco it worked? we can add to doc?

[2015-12-15 09:30] soubok commented on #72
Hi @simobasso, it works as expected (but it seems a little hacky no ?)

[2015-12-15 09:41] sayanee commented on #77
:+1: yes i was also thinking of adding to the `readme.md`

[2015-12-15 09:53] simobasso commented on #72
Yes. It's a workaround. I don't know where is the problem.

[2015-12-15 16:13] gimoteco commented on #80
Thank you for your response, I'll test soon and if works I can put it in documentation.

[2015-12-15 19:05] simobasso commented on #80
Thanks!

[2015-12-16 13:38] simobasso commented on #79
@rwwagner90 @Elecash find out!

`ng-pdf` dirtective use `document.getElementById('pdf-canvas')`.

In Elecash example you compile directive correct but you don't append them to document, then document don't have a node with canvasid.

please (re)view #84 for an example.

Cheers

[2015-12-16 14:23] Elecash commented on #79
At the end I've made my own `ng-pdf` directive and I don't have any problems now, so feel free to close this issue if is ok for @rwwagner90 too.

[2015-12-16 14:50] rwwagner90 commented on #79
@simobasso @Elecash Is the example you are referring to just tests? I am having this issue just using the directive inside of a modal

[2015-12-16 14:51] simobasso commented on #79
@rwwagner90 can you reproduce on jsbin/jsfiddle?

[2015-12-16 14:54] simobasso commented on #79
@rwwagner90 have you seen #12?

[2015-12-16 14:55] rwwagner90 commented on #79
@simobasso I have seen that issue. I will create an example for you guys, at some point, but I can't right now.

[2015-12-16 15:42] KranthiKishore commented on #78
Can someone suggest an angular gem for printing pdf?

[2015-12-16 15:54] simobasso commented on #78
@KranthiKishore please, next time open an other issue, and open issue related to this package.

Gems are Ruby package, angular is JavaScript package.

[2015-12-17 01:09] sayanee opened #85 "add sharper badges in readme"
![image](https://cloud.githubusercontent.com/assets/413879/11858588/ddd55e60-a49d-11e5-8f0a-8077d4e877fb.png)

[2015-12-17 01:12] #85 closed

[2015-12-17 02:11] sayanee opened #86 "add notes to contributing.md on submitting fixes and new features"
The intention is to put a clearer section on new features and tests along with discussion, feedback and support from anyone.

Inspired by: [Atom's blog post](http://blog.atom.io/2015/10/16/making-your-first-contribution.html),  [contributing.md](https://github.com/atom/atom/blob/master/CONTRIBUTING.md)

Let me know what do you all think :smiley:
____________________________________

# Contributing

[2015-12-17 02:18] sayanee commented on #85
![image](https://cloud.githubusercontent.com/assets/413879/11859615/81fe932c-a4a7-11e5-88a6-9e284321d79e.png)

[2015-12-17 05:53] KranthiKishore commented on #78
@simobasso Sorry for that and Does this package supports pdf print?

[2015-12-17 09:06] simobasso commented on #86
It's means first discuss then pull request? Ok for me 👍

[2015-12-17 09:19] simobasso commented on #78
@KranthiKishore at this time isn't possible print the pdf, but you can use `window.print()` to print the page.

To exclude other element you can use css's `@media print`.

[2015-12-17 09:19] #78 closed

[2015-12-17 09:59] sayanee commented on #86
Yeah, coz I didn't want anyone's efforts to be wasted. Just a check in case, we have the code / old issue somewhere.

Thanks :+1:

[2015-12-17 14:52] rwwagner90 commented on #79
Can we keep this open until I have a chance to make an example and make sure we get it all sorted out?

[2015-12-17 14:53] simobasso commented on #79
yes, my bad.

I've referenced the issue in a pull request. sorry.

[2015-12-18 00:42] #86 closed

[2015-12-21 05:09] abhilashpullelil opened #88 "Cookies of my web application are not sending along with the pdf get request."
Hello,

My web application is using a cookie which is very important to render user reports. So, when I make request from angular-pdf, it is not sending the cookie to the server.

Is there any option to send cookie along with the request?

Or is there any work around for this problem?

Any help will be appreciated.

[2015-12-21 05:55] sayanee commented on #88
How about [this](https://github.com/sayanee/angularjs-pdf/pull/60) and [this](https://github.com/mozilla/pdf.js/issues/4082)?

[2015-12-21 05:57] abhilashpullelil commented on #88
Thanks for your quick response. I have managed to send cookie as well as authorization token via angular-pdf.

Thanks !!!

[2015-12-21 05:57] #88 closed

[2015-12-21 07:09] sayanee commented on #77
hi @shannonfoster - we added it to the [docs](https://github.com/sayanee/angularjs-pdf#when-url-is-base64-or-uint8array). Hope this solved your issue!

We are closing this issue, but please feel free to re-open and let us know the issue at hand :smile:

[2015-12-21 07:09] #77 closed

[2015-12-21 09:41] sayanee commented on #55
For code reference to implement multi-page with PDFJS: https://github.com/izuzak/atom-pdf-view

[2015-12-21 18:36] simobasso opened #90 "What do you about V2 roadmap?"
i'm work on multipage (#55), but this feature change the Api (little more conservative like #71, multiple canvas, autoappend canvas, etc...).

What do you think about plan a roadmap?

for example:

- [ ] svg layer :)
- [ ] more conservative with autogenerated canavs
- [ ] more consevative with isolate scope
- [ ] multiple-page (with multiple canvas)

[2015-12-22 01:16] sayanee commented on #90
Sounds all good to me :smile: A couple of things I can think of:

1. Are there any features that can be both V1 and V2 compatible and can be prioritised to work on first?
- Also which features do we see the API changing for V2? Maybe a feature matrix?

[2015-12-24 02:21] banbanchs commented on #58
@sayanee Hi, just want to ask a small question: why use `1.4.7` instead of `~1.4.7`? My project use angular 1.4.5 and can not install it because of the version.

[2015-12-24 08:37] sayanee commented on #58
Yes we should do that. Could you paste the command and the error notes?

[2015-12-24 09:56] banbanchs commented on #58
@sayanee

[code]

bower.json
[code]

I guess the problem is `resolutions`?
https://github.com/bower/bower/issues/866

[2015-12-24 10:21] sayanee commented on #58
Thanks @banbanchs.

Yes [it seems](http://jaketrent.com/post/bower-resolutions/) you will need to add `resolutions` in your project's `bower.json`, as opposed to this package's `bower.json`. I might be wrong, so please correct me. Will it work for you then?

[2016-01-04 20:33] gimoteco commented on #80
It's not clear to my, how can I set the configuration of my authentication (headers like token hash) using this attribute? (this attribute look like a on-off authentication).

[2016-01-05 01:42] sayanee commented on #80
bf1f7de0a4195fa766315f3e7d929061a2e6eac0 Could you try the [branch code](https://github.com/sayanee/angularjs-pdf/tree/add-http-headers) to add the `http headers'?

You can add it in the controller, example:

[code]

Here's a [similar example based on pdf.js](https://groups.google.com/forum/#!topic/mozilla.dev.pdf-js/iDUqbjMRcGc) or [an explanation](https://github.com/mozilla/pdf.js/issues/4082#is

[2016-01-05 12:01] gimoteco commented on #80
The first snippet worked for me, Is there anything that I could help you to put it on production?

[2016-01-05 12:10] sayanee commented on #80
Thanks for checking @gimoteco - i will merge the branch code to master then.

Could you help me write the documentation by sending a pull request to `readme.md` ? :smile: Would be best written by someone who actually used it like you!

[2016-01-05 13:59] sayanee commented on #80
@gimoteco please try the [latest release `v1.3.0`](https://github.com/sayanee/angularjs-pdf/releases/tag/1.3.0). Feel free to reopen this issue if there's any error.

[2016-01-05 13:59] #80 closed

[2016-01-05 14:10] gimoteco commented on #80
It worked too!

[2016-01-06 11:04] Taewa opened #95 "TypeError: Cannot read property 'getContext' of null"
Hello.

Basically what I want to do is that load a remote pdf through ionic modal.

I am using this url as a test
http://www.i-drain.net/userfiles/file/einbauanleitung_iboard.pdf

I followed this tutorial (but I do not need creating pdf. just load remote pdf)
http://gonehybrid.com/how-to-create-and-display-a-pdf-file-in-your-ionic-app/

**When I just launch ionic, I got this error**
`TypeError: Ca

[2016-01-06 11:29] Taewa commented on #95
`$scope.pdfUrl` was just in the controller and I moved it into `$scope.openModal` function.

**I got this error**
`XMLHttpRequest cannot load http://www.i-drain.net/userfiles/file/einbauanleitung_iboard.pdf. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://myIp' is therefore not allowed access.`

I tried with internal pdf file and it works fine.

So I gu

[2016-01-06 23:31] simobasso commented on #95
Cross domain request it's not allowed by browser.

You must use CORS in your server side.

https://en.wikipedia.org/wiki/Cross-origin_resource_sharing

I hope this help you!

Cheers

[2016-01-08 09:31] Taewa commented on #95
@simobasso
Thank you for the answer.
I resolved with jsonp :)

[2016-01-08 09:58] #95 closed

[2016-01-08 12:37] pudo opened #96 "Is there a way to highlight a particular string?"
This library is a miracle for me, amazing work! I want to use it to display results for a search tool and ideally would want to support results highlighting. Is that possible?

[2016-01-09 12:09] sayanee commented on #96
No this feature is not supported.

Just did some quick search and you might find [an past example](http://vivin.net/2013/06/06/rendering-a-pdf-with-text-selection-using-pdf-js/) or a [discussion on pdf.js highlight text](https://github.com/mozilla/pdf.js/pull/5496) useful.

[2016-01-10 10:51] pudo commented on #96
Thanks very much for the two pointers, very useful - happy to close the ticket unless you want to keep it as a feature request :)

[2016-01-10 10:55] #96 closed

[2016-01-10 10:56] sayanee commented on #58
@banbanchs can we close this? I hope the `resolutions` work?

[2016-01-11 02:41] banbanchs commented on #58
@sayanee Sorry. Ok now, thanks!

[2016-01-11 02:43] #58 closed

[2016-01-11 12:14] mbejda opened #97 "Doesn't work when minified using yo angular build."
Doesn't work when minified with `grunt build` generated by `yo angular`. I get the following error :
[code]

Works just fine when its not minified.

[2016-01-11 22:45] sayanee commented on #97
What is part of your unminified code to include it as a module in your project?

[2016-01-12 00:25] mbejda commented on #97
The following are the steps to replicate the error :
- yo angular app
- bower install angular-pdf --save
- Add the PDF.js CDN to the index.html (PDF.js does not minify nicely).
- grunt serve:dist

[2016-01-14 15:56] badpenguin opened #98 "horizontal scroll not available"
It worked out of the box!

But When i zoom the document the canvas can be scrolled only vertically and not horizzontally.

Is that a problem with the library? or Ionic?

I confirm that this does not work with android stock browser, chrome must be installed and for cordova the Xwalk engine must be used.

[2016-01-15 05:55] sayanee commented on #98
Do you have sample code to replicate this?

[2016-01-15 16:31] mbejda commented on #97
Seems to wrong fine. There was a bug in a different library.

[2016-01-15 16:31] #97 closed

[2016-01-19 08:36] stweet4000 opened #99 "text selection"
any way to add text selection css in the pdf viewer ?

[2016-01-19 08:55] sayanee commented on #99
No, this feature is not supported. You can also check #13

[2016-01-19 08:55] #99 closed

[2016-01-19 15:53] RODOBTA opened #100 "Use the same viewer simultaneously with multiple files."
You can load the same value in multiple html files without overwriting the data contained (ie use
a global viewer and to open several at once with direfentes files), so far I've only managed to do one
when opening the second overwrite the first.

[2016-01-20 00:44] sayanee commented on #100
Yes, currently multiple html files are not supported.

[2016-01-20 00:44] #100 closed

[2016-01-20 01:03] RODOBTA commented on #100
Thank you very much, I will try how to do so using other methods.

[2016-01-20 01:18] sayanee commented on #100
thanks @RODOBTA - please feel free to raise a pull request to add to the `readme.md` if it works for you :+1:

[2016-01-20 01:19] sayanee commented on #98
closing this - please feel free to reopen with sample code, steps to replicate it and a demo page.

[2016-01-20 01:19] #98 closed

[2016-01-24 18:14] dziewonski opened #101 "Selectable PDF content in the viewer"
Hello,
I found that content that is being rendered in the viewer cannot be selected even when a document contains text only. PDF.js does support it and let user select a text and e.g. copy it.
Is it possible to have the same capability in angularjs-pdf?
Cheers,
Peter

[2016-01-25 00:55] sayanee commented on #101
Hi @dziewonski, currently angularjs does not have this feature.

[2016-01-25 00:55] #101 closed

[2016-02-08 21:24] nextlevelshit commented on #90
As well it would be nice to have a version of the distributed pdfjs library in the node module dependencies. Sooner I miss the possibility to highlight text like in the pdfjs viewer demo.

[pdfjs-dist node module](https://www.npmjs.com/package/pdfjs-dist)

[pdfjs highlight example](http://mozilla.github.io/pdf.js/web/viewer.html)

PS: I've just stumbled upon your repo. Looks fantastic and saved me

[2016-02-09 01:55] sayanee commented on #90
Can you please provide a sample application that reproduces the error?

[2016-02-09 01:57] sayanee commented on #90
@nextlevelshit checkout [Atom's pdf viewer](https://atom.io/packages/pdf-view) - might help with some code.

[2016-02-16 11:43] normanjaeckel opened #103 "Support angular 1.4.9"
It's just about using `"angular": "~1.4.8"` instead of `"angular": "1.4.8"`so my project can use e. g. version 1.4.9 without bower complaining about possible version conflicts.

Thank you very much.

[2016-02-16 12:02] sayanee commented on #103
Refer to #58 - you can use [bower resolutions](https://github.com/bower/spec/blob/master/json.md#resolutions). Feel free to re-open issues if this did not work.

[2016-02-16 12:02] #103 closed

[2016-02-16 20:57] brettmeyer commented on #95
I'm having the same issue, but doesn't seem to be cross domain. Also getting the error:

`TypeError: Cannot read property 'getContext' of null`

Which I assume means it can't get the canvas.
Template file looks like this:

`<ng-pdf template-url="partials/viewer.html" canvasid="pdf-canvas" scale="page-fit"></ng-pdf>`

View looks like this:

`<canvas ng-if="pdfUrl" id="pdf-canvas" class="rotate0"></

[2016-02-17 05:53] ppeetteerrs opened #104 "Loading Local Files"
May I ask if ng-pdf works with pdfUrl in the form of file:///storage/emulated/0/pdf/test.pdf ? From what I see there seems to be a xhr error when I do this. Thank You!

[2016-02-17 06:13] mkuklik opened #105 "angular-pdf and angular ui-layout"
mouse event are not working when ui-layout is injected. Any ideas?

[2016-02-17 07:12] brettmeyer opened #106 "Cannot read property 'getContext' of null"
I'm having the same problem as a closed issue, but doesn't seem to be cross domain problem with the PDF. When running my app I get the error

`TypeError: Cannot read property 'getContext' of null`

Which I assume means it can't get the canvas.
Template file looks like this:

`<ng-pdf template-url="partials/viewer.html" canvasid="pdf-canvas" scale="page-fit"></ng-pdf>`

viewer.html content looks li

[2016-02-17 14:33] sayanee commented on #104
You will need to serve the file in a server and hence a `url`. It cannot use a static file link.

[2016-02-17 14:33] #104 closed

[2016-02-17 14:34] sayanee commented on #105
Can you please provide a sample application that reproduces the error?

[2016-02-17 14:34] #105 closed

[2016-02-17 17:42] ppeetteerrs commented on #104
But is it possible to convert it into unit8array and use the raw data as the pdfUrl?

[2016-02-18 00:51] sayanee commented on #104
@ppeetteerrs [yes it is](https://github.com/sayanee/angularjs-pdf#when-url-is-base64-or-uint8array)

[2016-02-23 19:31] brandonkboswell opened #107 "Worker Disabled?"
I just noticed in the Link function of Angular-PDF that you call PDFJS.disableWorker. Is there is a specific reason you are explicitly disabling this?

Thank you for this fantastic library!

[2016-02-24 00:54] sayanee commented on #107
No specific reason - do you need it to be enabled? Maybe we can pass it in as an option.

To refresh myself, I'm also looking at the [pdf.js code examples and in the comments](https://github.com/mozilla/pdf.js/search?utf8=%E2%9C%93&q=disableWorker) I see some reasons stated not disabling it.

[2016-02-24 14:48] brandonkboswell commented on #107
I don't **need** it, they just cite better/non-blocking performance in supported browsers with it enabled. I just wanted to make sure there wasn't a known issue that prevented it from being enabled. I've been running it since yesterday with it enabled and have not seen any issues.

[2016-02-24 16:14] dockinkong opened #108 "Trancluded template"
Is there a way to get template as transcluded html to avoid having template defined as file?

[2016-02-25 00:54] sayanee commented on #107
Thanks for checking it in use. Please feel free to close this issue then 🤗

[2016-02-25 00:59] sayanee commented on #108
Currently this feature is not supported.

[2016-02-25 14:08] #107 closed

[2016-02-29 17:22] dockinkong opened #109 "Warning: Unhandled rejection: Error: Worker task was terminated"
Hello,

I've written a directive to view pdf files in a popup using angularjs-pdf and I'm facing an issue when closing my directive before rendering has completly finished and reopen the popup. In the console I have:

`cancelled`
`Warning: Unhandled rejection: Error: Worker task was terminated`
`Error: Worker task was terminated`
`at WorkerTask.prototype.ensureNotTerminated (http://localhost:50074

[2016-03-08 10:19] Clebiez opened #110 "Render Uint8Array throw error"
Hi all,

I wan't to render a base64 PDF file with your solution !
I convert base64 to Uint8Array and I try to render it with PDFJS like the following

        function convertDataURIToBinary(dataURI) {
          var base64Index = dataURI.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
          var base64 = dataURI.substring(base64Index);
          var raw = window.atob(base64File);
          var r

[2016-03-08 14:38] vincentcialdella opened #111 "Print and download functionnality"
Hi,

[Here](http://mozilla.github.io/pdf.js/web/viewer.html) we can see print and download functionnalities.

How could we get them via the angularjs-pdf

[2016-03-13 07:06] krxckz opened #112 "Are this angular-pdf can save as pdf in Ionic?"
I would like to know whether this angular-pdf can save as pdf in Ionic. Thank you.

[2016-03-16 23:07] jgmboricua opened #113 "Align 'space beyond border' text with the 'sheraton Puerto ....' text"
![image](https://cloud.githubusercontent.com/assets/15098174/13831479/afcf7b34-ebb2-11e5-9414-8f52b79b73de.png)

[2016-03-17 02:29] sayanee commented on #113
This issue has no reproducible steps. Please re-open this issue if it still occurs, with a JSBin containing a set of reproducible steps. Check this element's CONTRIBUTING.md for an example.

[2016-03-17 02:29] #113 closed

[2016-03-17 02:31] sayanee commented on #111
Currently we don't have this feature. Happy to look at a pull request on this! Feel free to re-open this issue with a pull request.

[2016-03-17 02:31] #111 closed

[2016-03-23 18:01] guicoma opened #115 "Password Callback"
I recently added angularjs-pdf to my project. A great directive! Congrats! However, I've stumbled upon a little problem. I can't seem to find a wave to handle PDF files that have a password.

`PDFJS.getDocument(params, null, null, scope.onProgress);`

Currently there is no handler for the password protected PDFs, one could simply add a scope function so that the controller can handle is case.

`PD

[2016-03-24 03:13] sayanee commented on #55
This issue is fairly old and there hasn't been much activity on it. Closing, but please re-open it with a pull request on the feature 🤗

[2016-03-24 03:13] #55 closed

[2016-03-24 03:14] sayanee commented on #71
This issue is fairly old and there hasn't been much activity on it. Closing, but please re-open it with a pull request on the feature 🤗

[2016-03-24 03:14] #71 closed

[2016-03-24 03:15] sayanee commented on #72
This issue is more than 3 months old and there hasn't been much activity on it. Closing, but please re-open it with a pull request on the bug 🤗

[2016-03-24 03:15] #72 closed

[2016-03-24 03:16] sayanee commented on #79
This issue is more than 3 months old and there hasn't been much activity on it. Closing, but please re-open it with a pull request on the bug 🤗

[2016-03-24 03:16] #79 closed

[2016-03-24 03:17] #108 closed

[2016-03-24 03:19] sayanee commented on #110
Hi! Have you tried [this](https://github.com/sayanee/angularjs-pdf#when-url-is-base64-or-uint8array)? Closing, but feel free to re-open if this doesn't work.

[2016-03-24 03:19] #110 closed

[2016-03-24 03:21] sayanee commented on #112
Sorry, there's no save as PDF feature currently. Closing, but fell free to re-open with a pull request on this feature.

[2016-03-24 03:21] #112 closed

[2016-03-24 15:17] eassa opened #117 "it does not work on ie"
i got this error even on you demo page : https://sayan.ee/angularjs-pdf/

SCRIPT5007: Unable to get property 'src' of undefined or null reference
pdf.js (9172,5)

[2016-03-25 09:31] sentoro opened #118 "Error during font loading and progress does not work"
Hello! In Console i see warning:
"Warning: Error during font loading: this._map[charCode].charCodeAt is not a function  pdf,js:281"
And i see the corrupt fonts http://i.imgur.com/X7D7XPR.png
Also in some documents i see "Warning: Failed to load font "g_d1_f6": SyntaxError: Invalid font data in ArrayBuffer. pdf,js:281"

And progress does not work. I put in controller function "
  $scope.onProgress

[2016-03-29 02:43] stefan2904 commented on #117
which version of IE?

[2016-03-29 06:05] eassa commented on #117
all of them !! , if you enter edge it works fine , but if you try to open with internet explorer  virsion 9 - 11 it does not load .

[2016-03-29 06:36] sayanee commented on #117
This module has a dependancy on PDF.js. Seems like there's limited support for IE10 and below: https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#what-browsers-are-supported

[2016-03-29 06:36] #117 closed

[2016-03-29 06:44] eassa commented on #117
thx , i will look into it :) , but still , internet explorer 10 and 11 does not work either

[2016-04-05 10:50] dani-inside commented on #106
Hi @brettmeyer, this might happen when the canvas is not available in the DOM (the directive is using document.getElementById() to find the canvas.
I assume your canvas is located in a modal view or something similar, which hasn't been loaded yet.

[2016-04-05 17:23] craigcabrey opened #119 "Package is not available on npm"
I was searching for the package on npm but couldn't find it. Could you publish it on there please?

Thanks!

[2016-04-06 01:00] sayanee commented on #119
This is a frontend package. Not sure if npm would be appropriate for this. I welcome links / documentation on using npm for frontend packages to read up more on this.

Thanks :smiley:

[2016-04-06 01:11] craigcabrey commented on #119
npm is widely used for frontend dependencies. [here](http://blog.npmjs.org/post/101775448305/npm-and-front-end-packaging) is their blog post on the matter.

While there are [questions](https://github.com/aspnet/Home/issues/1074) of bower's continued relevancy, both bower and npm can co-exist, so there is no harm in publishing on npm.

There are many frontend packages available on npm, such as angu

[2016-04-06 22:10] stefan2904 commented on #44
I was also a bit confused that this is not supported, since its a basic feature of PDFJS ...

[2016-04-08 02:35] sayanee commented on #119
It's now available in npm: https://www.npmjs.com/package/angular-pdf thanks to @jdw6359 🤗

[2016-04-08 02:35] #119 closed

[2016-04-08 14:52] jdw6359 commented on #119
I'll happily change ownership (should you ever want it) to you upon your request. Thanks

[2016-04-09 05:08] sayanee commented on #119
@jdw6359 no it's cool! Happy to see the community step up and help 😃

[2016-04-16 14:59] gabrielalfa opened #120 "Disable controls"
Olá

Tem a possibilidade de desativar a barra de controles superior?

Vou utilizar em mobile, portanto o zoom será feito por gestos manuais.

Obrigado

[2016-04-16 15:26] sayanee commented on #120
É possível excluir `$scope. getNavStyle` como mostrado no exemplo:

https://github.com/sayanee/angularjs-pdf/blob/be1ab8cf11ddd1c6f2bfb7f7861fb2d758b6f1a5/example/js/controllers/docCtrl.js#L8-L11

spero que isso funciona!

[2016-04-16 15:26] #120 closed

[2016-04-16 23:17] gabrielalfa commented on #120
Eu respondi em ingles

Mas na verdade vc é brasileiro?

KKK

Obrigado

2016-04-16 12:26 GMT-03:00 Sayanee Basu <notifications@github.com>:

[2016-04-18 19:59] DevQueen opened #121 "ASP.NET MVC"
Does anyone have an example of using this in ASP.NET MVC?

[2016-04-19 00:53] sayanee commented on #121
Sorry, there's no example on `ASP.NET`

[2016-04-19 00:53] #121 closed

[2016-04-22 16:53] donovan-duplessis opened #122 "Ng=If and possible memory issues"
Hey,

I have a generate button to generate a dynamic pdf and display it on my page.  I can re-generate many times.  I use the following:

[code]

I think the ng-show (I totally stand under correction here) is not destroying the component properly when I re-generate.  If I generate too many times, it starts taking very long to render the pdf; it starts rendering piece by piece from the top down.  I

[2016-04-26 22:06] reactiongears opened #123 "Getting started documentation is incorrect"
'pdf' as a injector is incorrect. Looks like 'angular-pdf' works

[2016-04-26 22:08] reactiongears opened #124 "Directive name ng-pdf is not allowed"
See Angular documentation

###  Monkey-patching Angular's ng module
This error can also occur if you have tried to add your own components to the ng module. This has never been supported and from 1.3.0 it will actually trigger this error. For instance the following code could trigger this error.

`angular.module('ng').filter('tel', function (){});`

Instead create your own module and add it as a d

[2016-04-26 22:38] reactiongears commented on #124
Nevermind.
Please delete issue.

[2016-04-26 22:38] #124 closed

[2016-05-03 14:52] viskin opened #125 "angular2 support"
When can we expect support of angular2?

[2016-05-04 12:59] viskin commented on #125
I actually started conversion attempt: https://github.com/viskin/angularjs-pdf/tree/angular2

[2016-05-05 00:44] sayanee commented on #125
@viskin happy to pass on this project to anyone who wants to upgrade and maintain it for angular 2.

[2016-05-07 09:09] viskin commented on #125
Great library, but unfortunately I currently have no time for helping to maintain it.

I will be glad to finish the conversion to angular2, which is already 75% done.

[2016-05-09 08:58] cataquil opened #126 "Question: pass the pdf name as parameter"
I see this <input type="text" ng-model="pdfUrl">
how can I post the pdf url to the controller

[2016-05-09 14:01] sayanee commented on #126
You can pass the url as `$scope.pdfUrl` (see [point 6](https://github.com/sayanee/angularjs-pdf#getting-started)) or even when the url is [base64 or Uint8Array](https://github.com/sayanee/angularjs-pdf#when-url-is-base64-or-uint8array).

[2016-05-09 14:01] #126 closed

[2016-05-10 08:48] cataquil commented on #126
but how do I get that parameter into the controller.

[2016-05-10 13:23] lesteenman opened #127 "Canvas does not restrict itself to maximum height"
It does not currently seem possible to limit the height of the canvas element. In our case (openslides/OpenSlides#2097), we use angularjs-pdf to show a PDF fullscreen. In that case, `page-fit` should not only look at the width of the element, but also at the height.

Suggestion: Either make a different scaling type `page-fill` that behaves like the current `page-fit`, and change the behavior of `p

[2016-05-17 11:04] cataquil opened #130 "Load the whole document"
Is there a way to load all the pages in the document?
I guess I could loop by the pageCount and insert a canvas for each.

[2016-05-17 12:56] sayanee commented on #130
I'm so sorry, no there's no such feature. Feel free to send a pull request to the `readme.md` file if you can do that!

[2016-05-17 12:56] #130 closed

[2016-05-17 15:01] cataquil opened #131 "Load multiple ng-pdf tags in the same page"
Is there a way to have more than 1 viewer in the same page?

[2016-05-17 17:47] mayson14 commented on #131
just working on figuring out the same thing

[2016-05-17 17:53] albertywu opened #132 "Load PDF from file?"
Is it possible to use this library if the pdf document comes from a file, versus specifying a URL to the PDF?

[2016-05-18 00:49] sayanee commented on #132
Is this what you are looking for? https://github.com/sayanee/angularjs-pdf#when-url-is-base64-or-uint8array

[2016-05-18 00:49] #132 closed

[2016-05-18 00:50] sayanee commented on #131
Sorry, this is not possible with the current features.

[2016-05-18 00:50] #131 closed

[2016-05-18 09:55] cataquil commented on #131
how can I load the 2nd page of a pdf in the viewer programmatically?
Just set $scope.pageNum or $scope.pageToDisplay?

[2016-05-18 13:12] sayanee commented on #131
Yes `$scope.pageNum` should do

[2016-05-20 15:29] ptitgraig commented on #123
working for me with `pdf`

[2016-05-27 02:56] OscarAgreda opened #133 "How to use the ControllerAs syntax"
Thank you for sharing. it is nice to see smart and well written code such as this directive.

I was wondering how to use the COntrollerAs syntax.

for example on your sample code

[code]

how to bind the directive to the controller

[code]

using

`vm.pdfUrl = '/pdf/relativity.pdf';`

still if not possible, this directive is still super awesome :)

[2016-05-27 06:01] rnjailamba commented on #90
@nextlevelshit  so basically youre adding support for annotations , right?
Waiting eagerly for it!
Hows the progress going.

[2016-05-27 06:04] rnjailamba commented on #90
@sayanee Is anyone working on annotations at the moment.?

[2016-05-30 07:22] chairy11 opened #134 "Can pages scroll? Is there progress bar?"
Hi, I am  trying to use angular-pdf on my ionic APP to display pdf file.
But I found only by click the previous or next button can lead me to the other page,  that's a little troublesome.
Is there any setting can make pages like [the official pdf.js](http://mozilla.github.io/pdf.js/web/viewer.html)'s effect? It has vertical scroll bar, I can move to the next page by scrolling my mouse.
And also, t

[2016-05-30 09:05] sayanee commented on #134
Sorry, currently there is no such setting

[2016-05-30 09:05] #134 closed

[2016-06-06 14:56] itssujan commented on #117
Yeah it does not work on IE. Any updates on this?

[2016-06-06 15:30] itssujan opened #135 "Angularjs-pdf does not work on IE"
The library does not work on IE11 and has started effecting our app completely. I have gone ahead and disabled the pdf viewer for now untill we have a solution.

The demo site also doesnt work on IE11. Do let us know if there is any idea on this? I will keep looking for solutions from my side too.

Thanks!

[2016-06-06 15:45] itssujan commented on #135
Little more info from debugging

document.currentScript does not work on IE11 and so pdfjs location code does not work

[2016-06-20 11:25] udiedrichsen commented on #135
IE11 works for me.
Check this out:
https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#what-browsers-are-supported

and include the
https://github.com/mozilla/pdf.js/blob/master/web/compatibility.js

file in your project. Hope that helps.

[2016-06-21 04:03] santoshshinde2012 opened #136 "pdf read work in browser but not in mobile device"
I have use the your given template example in my ionic app , it test very well in browser but not in device it shows blank screen.

Why it is happening ?

[2016-06-21 07:10] sayanee commented on #136
Please check which browsers are supported for pdf.js: https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#what-browsers-are-supported

[2016-06-21 12:22] santoshshinde2012 commented on #136
so it is not supported with ionic framework

[2016-06-22 01:52] sayanee commented on #136
Which mobile browser are you using?

[2016-06-22 03:16] santoshshinde2012 commented on #136
this is hybrid based mobile application which is run internally on system webview

[2016-06-29 06:57] rajeshwarpatlolla opened #137 "Not working when it is bundled"
This plugin is working fine in the development mode. If i minify the files to serve in the production, then it is not working. And no errors in the logs too.

[2016-06-29 17:35] joaocmfcm opened #138 "Thumbnails to preview next and previous pages"
Is there a way to display a preview of the next/previous page? I would like to build something like a sidebar where I would display the thumbnails.

Thanks

[2016-06-30 03:59] sayanee commented on #137
I'm so sorry, I'm unable to help with out any error logs or any other details 😞 . What is the browser and any browser console error in the client side?

Since it's working in development mode and not in production, I'm guessing it might be related to the intermediate steps?

[2016-06-30 05:00] rajeshwarpatlolla commented on #137
There are no errors in the console. And also i am using the gulp-angular seed project for building the app for production environment.

[2016-07-13 19:22] paolorr commented on #136
I solved this problem changing the reference from pdf.js to pdf.combined.js in the index.html

[2016-07-27 19:38] korteee opened #139 "Controls doesn't work when loading two different pdfs"
I got two controllers in two different html files each of one changes $scope.pdfUrl.
When I load them for first time I got the wanted result (both of them load the correct pdf). But when I have once loaded both of them when I go back to the firstly loaded and try to use its controls I got the following error:

Error: this.messageHandler is null
WorkerTransport_getPage@http://localhost:8100/lib/pdf

[2016-07-29 11:25] damon-kwok opened #140 "angularjs-pdf doesn't work with MEAN.js"
platform MEAN.js 0.4.2
angular: 1.4.12

`
<ng-pdf template-url="/partials/viewer.html" scale=1></ng-pdf>
`
doesn't work

[2016-08-05 07:41] scripterkaran commented on #131
+1

[2016-08-10 11:23] stijn26 commented on #125
Whats the current status for angular2 support

[2016-08-10 12:07] viskin commented on #125
I've done some testing here: https://github.com/viskin/angularjs-pdf/tree/angular2.
Sadly I currently have no time to invest in it.
I implemented pdf component there based on original js implementation.
What left unsolved is implementing navigation as separate component that will delegate things (e.g next page pressed) to pdf component, while pdf component should (in my opinion) just render to can

[2016-08-23 14:32] ToJuMaLe commented on #131
+1

[2016-09-02 07:07] jamesone commented on #117
any fix? @itssujan  having the same issue here! A white page shows, I think it's because of DFP ads.

[2016-09-02 08:47] eassa commented on #117
i found out some extension for pdfjs and it worked ,can't find it now though , try to update to the latest pdf.js and worker  . they might have fixed the issue

[2016-09-02 11:43] danwid opened #141 "bottom arrow not working (showed up on pdf with page number)"
https://s11.postimg.io/urlkhl00j/Capture.png

[2016-09-06 22:16] tusharvikky commented on #90
Any updates on multiple canvas?

[2016-09-13 08:48] kazupooot opened #142 "Interpolated templateUrl"
Hi! Is there a way for me to interpolate on `templateUrl` attribute?

Example:
HTML
`<ng-pdf template-url="{{vm.templateUrl}}" test debug="false" scale="1.6" pdfurl="vm.pdfUrl" canvasid="pdf-canvas"></ng-pdf>`

JS
`
var vm = this;

vm.templateUrl = '/app/views/pdf-control.html?v=' + version;
`

[2016-09-21 14:45] mayank-shekhar commented on #136
this is not working for hybrid mobile applications. This is able to render PDF on android but not able to render pdf on IOS.

iOS version 9.3

[2016-09-30 03:58] laurindo opened #143 "My PDF don't work"
I'm trying to load pdf from url firebase, but don't work because this error:

![screenshot 2016-09-30 00 50 17](https://cloud.githubusercontent.com/assets/2501144/18980204/5120aefa-86a8-11e6-9a5d-13a3f97bed01.png)

[2016-10-02 13:58] simobasso commented on #143
@laurindo your problem is CORS https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS. You must config `Access-Control-Allow-Origin` header on your server side (firebase https://www.firebase.com/docs/hosting/guide/full-config.html#section-advanced-properties).

[2016-10-02 13:58] #143 closed

[2016-10-02 14:02] simobasso commented on #142
@kazupooot have you tried without curly braces?
like:
`<ng-pdf template-url="vm.templateUrl" test debug="false" scale="1.6" pdfurl="vm.pdfUrl" canvasid="pdf-canvas"></ng-pdf>`

[2016-10-02 14:02] #142 closed

[2016-10-02 14:04] simobasso commented on #141
@danwid can you create an example?

[2016-10-02 14:07] simobasso commented on #140
hi @damon-kwok! Can you post the traceback?

[2016-10-02 14:11] simobasso commented on #139
Hi @korteee. Can you elaborate this one? Can you show your code or replicate on jsfiddle?

[2016-10-02 14:12] simobasso commented on #138
Actually no, pr are welcome!

[2016-10-02 14:12] #138 closed

[2016-10-05 12:04] jpca999 opened #144 "put a download button on the top nav"
how easy is it to put a download button on the top nav bar so that user can download the pdf to their device using angularjs-pdf ?

[2016-10-05 12:25] jpca999 opened #145 "on phone"

[2016-10-05 12:27] jpca999 opened #146 "scrolling on phone ?"
i tried use the example on iphone. Is it easy to implement scrolling so that user can scroll through the document rather than clickign next button on top nav bar ?

[2016-10-05 13:13] jpca999 opened #147 "scrolling on phone ?"
i tried use the example on iphone. Is it easy to implement scrolling so that user can scroll through the document rather than clickign next button on top nav bar ?

[2016-10-10 14:19] RODOBTA commented on #144
You can do it directly on the server code, at least I did it that way, from the client I access through a button that links to a web API that is responsible for making the download process.

[2016-11-24 17:14] dennybiasiolli commented on #147
Duplicate of #146

[2016-11-24 17:14] #147 closed

[2016-11-24 17:15] #145 closed

[2016-11-24 20:55] dennybiasiolli commented on #146
@jpca999 scrolling in the page works, do you mean "swipe to change page"?

[2016-11-24 21:00] dennybiasiolli commented on #144
@jpca999: as @RODOBTA says, you can do it directly on the server code

[2016-11-24 21:00] #144 closed

[2016-11-24 22:09] dennybiasiolli commented on #118
@sentoro is this fixed in v1.3.1 by commits 7da1802 and bef9c64 ?

[2016-11-24 22:11] dennybiasiolli commented on #135
@itssujan did you solve your compatibility problem with @udiedrichsen 's solution?

[2016-11-29 15:18] Wol commented on #137
I'm seeing a similar issue, and this is a PDFJS issue as far as I can tell.

In the PDFJS Worker, there's a line of code which has:

[code]

[2016-11-30 08:46] hardikpanseriya opened #149 "How to display entire pdf pages without any navigation menu"
I want to display entire pdf without any navigation menu in the browser.
How can I display all pdf pages with the scrollbar in the browser?
Thanks.

[2016-11-30 09:28] dennybiasiolli commented on #149
Hi @hardikpanseriya , thanks for opening this issue.
I think this is a cool suggestion, but by now this feature is not planned in short term.
If you like you can make a pull request, we will appreciate your help.
Thanks 😄

[2016-11-30 09:28] #149 closed

[2016-11-30 09:30] dennybiasiolli commented on #106
@brettmeyer does the suggestion of @dani-inside solves the issue?

[2016-11-30 09:31] #118 closed

[2016-11-30 09:38] brettmeyer commented on #106
@dennybiasiolli to be honest I can't remember what I did to resolve this, which I did before there was a response, but I think @dani-inside was correct. This is what the code looks like in the working app:

`$scope.showPDF = function(filename) {
	$scope.pdfUrl = filename;
	$scope.showPDFModal('templates/pdf-viewer.html');
};

$scope.showPDFModal = function(templateUrl) {
	$ionicModal.fromTemplateU

[2016-11-30 10:44] hardikpanseriya commented on #149
Can you please suggest me which angular plugin is better for entire PDF viewer?
Thanks.

[2016-12-01 08:12] dennybiasiolli commented on #137
Have you tried to include `pdf.combined.js` instead of `pdf.js`?

[2016-12-01 08:12] #137 closed

[2016-12-01 11:56] dennybiasiolli commented on #149
@hardikpanseriya you can try with angular-pdf-viewer or ng-pdfviewer.
https://github.com/sayanee/angularjs-pdf#similar-projects

[2016-12-01 11:56] #135 closed

[2016-12-01 21:15] #146 closed

[2016-12-01 21:24] #136 closed

[2016-12-03 07:36] davasqueza commented on #133
+1

[2016-12-04 17:48] johnjspiteri opened #150 "Broken Tags In Example Partial?"
The span tags are broken from line [2 to 9 in the example partial](https://github.com/sayanee/angularjs-pdf/blob/master/example/partials/viewer.html)...

`<button ng-click="goPrevious()"><span>&lt;</span></button>`

[2016-12-04 18:41] dennybiasiolli commented on #150
Thanks @johnjspiteri 😄  I'm fixing the issue

[2016-12-04 18:42] johnjspiteri commented on #150
Super Denny… Thank you for the amazing work here.

[2016-12-04 18:44] #150 closed

[2016-12-04 20:27] dennybiasiolli commented on #115
@guicoma now version 1.4.0 implements your request 😉

[2016-12-04 20:27] #115 closed

[2016-12-04 20:34] dennybiasiolli commented on #106
@brettmeyer thanks for your response. 😄

[2016-12-04 20:34] #106 closed

[2016-12-08 04:23] johnjspiteri opened #154 "Why does Google reference this repo with [UNMAINTAINED]?"
Why does Google reference this repo with [UNMAINTAINED]?

![screen shot 2016-12-07 at 11 22 31 pm](https://cloud.githubusercontent.com/assets/6007361/20997500/2243bcbe-bcd4-11e6-8b0c-7593c5c0994f.png)

[2016-12-08 08:51] dennybiasiolli commented on #154
He is back MAINTAINED only a few weeks ago ;)

[2016-12-08 08:51] #154 closed

[2016-12-16 11:21] kountouretis opened #155 "relativity name"
When i try to load pdf with different name than relativity.pdf is not work.
For example if i change the   $scope.pdfUrl = 'pdf/relativity1.pdf'; is not work

[2016-12-16 11:24] dennybiasiolli commented on #155
Do you have an example of your code?
`relativity1.pdf` is in the same path as `relativity.pdf`?

[2016-12-16 12:01] kountouretis commented on #155
yes is the same path i put it in the pdf folder. My code is the same with the example

[2016-12-16 12:29] infotokabil opened #156 "Worker was destroyed"
I am getting the below error while I am integrate the angularjs-pdf code into my application

Error: Worker was destroyed
Stack trace:
PDFWorker_setupFakeWorker/<@http://localhost:8080/rater-designer/scripts/lib/pdf.js:9759:40

Please give some solution..

[2016-12-16 13:11] dennybiasiolli commented on #156
Are you trying to have multiple PDF.js viewer in one single page? Can you provide an example?

[2016-12-16 13:13] dennybiasiolli commented on #155
`Error: Invalid page request`
Are you trying to get a page that doesn't exists on PDF? In our example default loaded page is `13`

[2016-12-16 13:16] infotokabil commented on #156
No I am having one PDF.js file only. The same code worked alone but while integrate it with my application it Shows that error..

Here I have include my pdf load code

			<div class="panel-body" id="temp-pdf-show">
				<div class="wrapper main-pdf-page" >
					<ng-pdf id="temp-pdf-div" template-url="views/pages/imageViewer.html" canvasid="pdf"
						page={{pageNum}}></ng-pdf>
				</div>
			</div>

[2016-12-16 13:17] kountouretis commented on #155
Yes this is the problem.I changed the page and is work. Thank you.

[2016-12-16 13:21] dennybiasiolli commented on #156
It seems a problem with some other part of your application, please provide a full example of the error on jsfiddle or another similar website. Thanks

[2016-12-16 13:24] dennybiasiolli commented on #155
Thanks to you for the feedbak, have a nice day

[2016-12-16 13:24] #155 closed

[2016-12-16 13:30] infotokabil commented on #156
It was big application have more angularJS routing and configuration. So I am unable to produce the same scenario in JSFiddle...

Can you please share in Which scenario the below will occur
      Error: Worker was destroyed
      Stack trace: PDFWorker_setupFakeWorker

And also please send If there is any possibility to destroy the already available worker while loading the page?

[2016-12-16 13:41] dennybiasiolli commented on #156
Looking at [this page](https://github.com/mozilla/pdf.js/issues/7679), are you trying to load on the same page more than one pdf file (not PDF.js, but pdf documents)?
I don't need the full application, but only the bugged scenario, unless I can't reproduce the issue.

[2016-12-17 07:45] dennybiasiolli commented on #109
Hello @dockinkong ,
at this moment is not possible to directly stop rendering worker from this directive, but I hope [this link](http://stackoverflow.com/a/18081839/3963422) can help you with this issue.
Nice work! :)

[2016-12-17 07:45] #109 closed

[2016-12-17 08:04] dennybiasiolli commented on #122
Hi @donovan-duplessis ,
I think `ng-if` is destroying the DOM portion of the directive, so the canvas is no longer linked with the directive.
Do you have the same problem with the latest version of angularjs-pdf?

[2016-12-17 08:07] dennybiasiolli commented on #123
@reactiongears `pdf` is the name of the module, if you include it in your project you can use it with that name.
Do you have some other module with the same name?

[2016-12-17 08:07] #123 closed

[2016-12-20 19:55] gabrielvilaboa commented on #131
+1

[2016-12-21 14:35] simobasso commented on #141
Closed for lack of response. @danwid feel free to reopen this one. Thanks 😄

[2016-12-21 14:35] #141 closed

[2016-12-21 14:35] dennybiasiolli commented on #140
Closed due to no responses, @damon-kwok feel free to reopen this one. 😉

[2016-12-21 14:35] #140 closed

[2016-12-21 14:53] dennybiasiolli commented on #133
Hi @OscarAgreda,
thanks and sorry for the late answer.
Now is not possible to use ControllerAs syntax, because the directive's scope is not isolated.
We are working on a new version that include this feature.
Stay tuned! 😄

[2016-12-28 21:54] johnjspiteri commented on #110
In case anyone needs a working version of the process:

[code]

[2016-12-28 22:00] johnjspiteri opened #162 "Creating Responsive Styles For Example Partial?"
@dennybiasiolli, I am about to responsively style the [navigation buttons](https://github.com/sayanee/angularjs-pdf/blob/master/example/partials/viewer.html)  for a project tomorrow... would you like me to show you my work and possibly upgrade the example?

![screen shot 2016-12-28 at 4 59 36 pm](https://cloud.githubusercontent.com/assets/6007361/21532533/10f3f856-cd1f-11e6-8311-955e78128210.png)

[2016-12-30 18:24] smallbitt commented on #122
Hi,
I'm having same issue with ng-if, at first my pdf get opened, at second I get just blank page.
if I take ng-if directive off (I'm using a modal window) then I get "Cannot read property 'getContext' of null" error..
an ideas to make it work?

[2017-01-03 16:27] cristianurbano opened #164 "Bower not found"
Hi!

In the **1.4.0 version**, the **postinstall** script throw the folowing error:

`sh: 1: bower: not found`
`Failed at the angular-pdf@1.4.0 postinstall script 'bower install'.`

[2017-01-03 16:36] simobasso commented on #164
Hi @cristianurbano!
Thanks for the report!

how you came to have this error?
it's the same on the last version (1.4.1)?

[2017-01-03 16:39] simobasso commented on #162
HI @johnjspiteri! thank you for your time and sorry for the late answer.

Pull requests are always welcomed on this repo, so feel free to open one any time you want!

Thanks

[2017-01-03 16:41] simobasso commented on #122
@smallbitt can you provide a simple jsfiddle?

[2017-01-03 23:41] cristianurbano commented on #164
Hi @simobasso , [in the npm](https://www.npmjs.com/package/angular-pdf), we don't have the 1.4.1 version

[2017-01-04 07:42] dennybiasiolli commented on #164
Sorry @cristianurbano , my mistake. I've updated to 1.4.1 in npm now, this will fix the issue.
Let us know if it's correct :)

[2017-01-04 13:11] cristianurbano commented on #164
Thanks @dennybiasiolli , now the version 1.4.1 is in npm, but the error still there

![error-angular-pdf](https://cloud.githubusercontent.com/assets/2442937/21643250/131eb82c-d266-11e6-8731-83f99eece821.png)

[2017-01-04 14:02] dennybiasiolli commented on #164
Hi @cristianurbano , thanks to your report I fixed the issue.
Now on NPM there is the new version of angular-pdf: 1.5.0.
Thanks a lot. :tada:

[2017-01-04 14:02] #164 closed

[2017-01-04 14:09] cristianurbano commented on #164
Thanks @dennybiasiolli now it works as expected

[2017-01-04 23:16] joserojasv opened #166 "angular-pdf.js directive remove "read-only""
Hello
I was hoping may be you can give me a hand...

My issue is that looks like the directive canvas (viewer) is "read-only" I'm trying to mark some text to copy but is not possible, it looks like there is a top layer blocking, or like if the pdf is an image or svg, I was thinking if there is a way I can change this page mode?

and my second issue is I have some links inside the pdf pages, that r

[2017-01-05 00:06] mayacr86 opened #167 "Full sample of how to load a PDF from a base64 string?"
Hi @sayanee , let me thank you first for the awesome library!

Just wondering, do you have a complete - dummy like - sample to load a PDF from a base64 string?

Let's say I have something like:

const pdfAsBase64 = "data:application/pdf;base64,JVBEfghfgh..."; // shortened

[2017-01-05 02:25] sayanee commented on #167
@dennybiasiolli will be able to help more as he's the current maintainer 👏

[2017-01-05 08:13] dennybiasiolli commented on #166
Hi @joserojasv , now this directive doesn't render the TextLayer or links but only the page.
This is a useful feature, any help will be welcome! 😄

[2017-01-05 08:31] dennybiasiolli commented on #167
Hi @mayacr86 , looking at [this example](https://github.com/mozilla/pdf.js/blob/master/examples/learning/helloworld64.html) you can render a pdf from a base64 string using `PDFJS.getDocument({data: pdfDataEncoded})`.
Now in the directive we accept only the PDF's url, but this feature will be considered in future releases, so the user can pass a base64 string instead of the url.
Thanks for the sugg

[2017-01-05 08:56] dennybiasiolli commented on #167
Sorry @mayacr86, I gave you an incorrect answer.
We have a full working example at [this url](https://github.com/sayanee/angularjs-pdf/issues/110#issuecomment-269547160) thanks to @johnjspiteri.
You can use in this way:
[code]

[2017-01-05 14:46] #167 closed

[2017-01-11 16:26] Weestdudochnicht opened #169 "need Help with Installation"
I build i Plunker with your Directive https://plnkr.co/edit/rtdklaz4nNbuRzbcWcAf?p=preview

I try to use angular-pdf with Base64 url.

My Problem is NOT the usage of base64. The Problem is the Directive.

Could u Please help me fixing the Plunker so that i be able to use the Directive?

Btw.  my plunker is based on your demo but with a base64 testpdf.

[2017-01-11 16:48] simobasso commented on #169
Hi @Weestdudochnicht ! Thank you for the issue.

I think your plunker it's not complete.

for example: where is the template's file?
You can continue here https://plnkr.co/edit/G6s1jQ0ObbJxD2cVx8jF?p=preview

[2017-01-12 08:17] Weestdudochnicht commented on #169
thanks for your fast answer. but your plunker also show no pdf.

So what is the problem in there?
thanks for every help

[2017-01-12 09:00] dennybiasiolli commented on #169
Hi @Weestdudochnicht ,
looking at your plunkr, you need to include also `pdf.worker.js` to have a full working example.
😉

[2017-01-12 09:08] Weestdudochnicht commented on #169
thanks now the plunker works.

[2017-01-12 09:20] #169 closed

[2017-01-12 10:20] Weestdudochnicht commented on #169
i found something strage. plunker: https://plnkr.co/edit/rtdklaz4nNbuRzbcWcAf?p=preview

i used that link  <script src="https://sayan.ee/angularjs-pdf/js/lib/pdf.worker.js"></script> to import the pdf.worker.js and i also create a empty pdf.worker.js in the plunker. if i remove the empty file the plunker wouldnt work! I dont know why but it happen.

Anyways it works in the plunker.
Now for My appl

[2017-01-12 10:24] dennybiasiolli commented on #169
@Weestdudochnicht can you please report here the errors in your browser's console?

[2017-01-12 10:40] Weestdudochnicht commented on #169
there are no errors. thats my problem. I believe its about the Integration of
 <script type="text/ng-template" id="partials/viewer.html">

bec. i dont even see the button nav.

[2017-01-12 10:46] dennybiasiolli commented on #169
Can you provide an example of this latest code?

[2017-01-12 10:50] Weestdudochnicht commented on #169
I updated the plunker now: https://plnkr.co/edit/rtdklaz4nNbuRzbcWcAf?p=preview

[2017-01-12 10:56] Weestdudochnicht commented on #169
now i noticed that makes no sence to use my code in a plunker -_-

[2017-01-12 10:59] dennybiasiolli commented on #169
In the browser's console I see this error: `Error: [$controller:ctrlreg] The controller with the name 'DocCtrl' is not registered.`.
Take a look at your angular code. 😉

Another hint: you need to use the same version of `pdfjs.js` and `pdfjs.worker.js` to avoid further errors.

[2017-01-12 11:02] Weestdudochnicht commented on #169
So. Now i got a better version of the plunker: https://plnkr.co/edit/rtdklaz4nNbuRzbcWcAf?p=preview

Thas the small view of my code. In the Plunker the Nav works in my app not. In Both the angular-pdf directive doesnt work

[2017-01-12 11:07] dennybiasiolli commented on #169
Like I said in the previous comment:

[code]

I suggest you to use a local pdfjs libs instead of the online one.

[2017-01-12 11:09] Weestdudochnicht commented on #169
yeah i do so in my appliaction but i cant use my local plugins in the plunker

[2017-01-12 11:17] Weestdudochnicht commented on #169
IT worked in the Plunker. So it have to work in my application. I hva to check the plugin installation. sry that i waste your time. You can close that issue

[2017-01-12 11:30] dennybiasiolli commented on #169
Thanks for your feedback, glad you solved. 🎉

[2017-01-16 09:10] jyxzfw opened #170 "Unable to load PDF file larger than 128K on iOS 10.2"
Hi, I am trying to use angular-pdf on my ionic APP to display pdf file.
I set the parameters $scope.pdfUrl to "http://xxx.xxx.xxx.xxx:xx/FileStoreService/DownPDF.ashx?fileNumber=xxxxxxxx".
And it worked very well on iOS 8.2, until I upgraded IOS to 10.2.
I find that when PDF is less than 128K, it works properly.And no errors in the logs too.Why?
Thanks for every help

[2017-01-16 14:17] dennybiasiolli commented on #170
Hi @jyxzfw , thanks for the issue!
Are you sure you don't have any kind of restrictions on your app, eventually introduced on IOS 10?

[2017-01-17 03:31] LYXmoonstars opened #171 "I met this problem, I do not know how to solve, I need your help，thanks"
XMLHttpRequest cannot load http://10.1.1.19/attachments/571f68bd87c4.pdf. Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access.

[2017-01-17 04:20] graspsolutions commented on #133
Very interested in this as well!

[2017-01-17 07:43] dennybiasiolli commented on #171
Hi @LYXmoonstars, this isn't a problem with the frontend, you have to correctly set 'Access-Control-Allow-Origin' on your server.
Hope [this](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS) helps.
😃

[2017-01-17 07:43] #171 closed

[2017-01-17 07:45] jyxzfw commented on #170
Hi @dennybiasiolli , thank you for your prompt reply!
Restrictions on my app? No. I don't even know where to set restrictions.  In my Xcode？
I'll describe my problem in detail again：
At last year, I used angularjs-pdf on iOS 8.2, and it works very well. All my PDF files on the file server, so I took $scope.pdfUrl to "http://xxx.xxx.xxx.xxx:xx/FileStoreService/DownPDF.ashx?fileNumber=xxxxxxxx". Rec

[2017-01-17 11:41] dennybiasiolli commented on #170
According to [this](https://github.com/mozilla/pdf.js/issues/7936) issue, it seems a problem with an older version of pdf.js, resolved by [this](https://github.com/mozilla/pdf.js/pull/7841) PR
What version of pdf.js do you use?
If you try to update your pdf.js the error remains?

[2017-01-18 06:44] dennybiasiolli commented on #170
Not only latest version of `angarjs-pdf` but pdfjs itself.
What version of `pdfjs` or `pdfjs-dist` are you using? Latest is `1.6.463`,
please try to install this version with `npm i pdfjs-dist` or `bower
install pdfjs-dist`

On Wed, Jan 18, 2017, 04:22 jyxzfw <notifications@github.com> wrote:

[2017-01-18 08:51] jyxzfw commented on #170
I did what you said. I have tried to install this version with `npm i pdfjs-dist`.
pdfjs-dist@1.6.463 node_modules/pdfjs-dist
└── node-ensure@0.0.0
But unfortunately, it is still so. : (

[2017-01-20 15:30] popod opened #172 "Option to scroll in place of changing page"
Is there an option to scroll in place of going to page 2 ?
Thanks

[2017-01-20 16:06] dennybiasiolli commented on #172
Hi @popod , thanks for the issue.
Where do you intend to scroll? In the [example page](http://www.lercio.it/qual-e-un-tuo-proposito-per-il-2017/) you can scroll in the page.

[2017-01-20 16:07] dennybiasiolli commented on #172
Hi @popod , thanks for the issue.
Where do you intend to scroll? In the [example page](https://sayan.ee/angularjs-pdf/) you can scroll in the page.

[2017-01-20 16:09] popod commented on #172
Hi, thanks for answer !
I want to scroll across pages without need to switch page number with the buttons.

[2017-01-20 16:10] popod opened #173 "Allow to programmatically fit the page"
Is there a way to programmatically call the fit() function of angularjs-pdf directive from my controller ? If not, could this be implemented ?

Thanks

[2017-01-20 16:16] dennybiasiolli commented on #172
Thanks for clarification, this is not possible with this directive. You have to implement it in other way. 😃

[2017-01-20 16:16] #172 closed

[2017-01-23 08:23] dennybiasiolli commented on #173
Hi @popod,
thanks and sorry for the late answer.
Good news! In the current version of the directive you can call the `fit()` function in your controller's scope because the directive's scope is not isolated.
This is good for you, but we are working on a new version that isolate the directive's scope, stay tuned. 😄

[2017-01-23 08:23] #173 closed

[2017-01-23 09:01] popod commented on #173
Okey thanks for answer

[2017-01-26 12:37] gsdiama opened #174 "Preview remote PDF files?"
Hi,

I'm developing an Ionic app, and I would like to know if angularjs-pdf only works with downloaded files. Is possible to open a remote PDF without downloading?

Thank you in advance.

[2017-01-26 13:24] dennybiasiolli commented on #174
Hi @gsdiama,
I confirm you that it's possible to open a remote PDF, but on the remote server you have to configure `Access-Control-Allow-Origin`header.
What error do you have in your console?

[2017-01-26 14:05] gsdiama commented on #174
Hi @dennybiasiolli,

Thank you for your fast response!

No error at the moment because I havent tried, but all the examples found show local files. Should be the use this?

app.controller('DocCtrl', function($scope) {
  $scope.pdfUrl = 'https://remoteserver.com/?file=2222';
});

Thanks again!

[2017-01-26 14:19] dennybiasiolli commented on #174
Yep! 😃
Keep in mind that server side you have to configure `Access-Control-Allow-Origin` header.

[2017-01-26 14:19] #174 closed

[2017-01-26 14:21] gsdiama commented on #174
Great!

Grazzie mille! ;-)

[2017-02-02 09:04] mrjainvimal opened #175 "Error: PDFJS is not defined"
Error: PDFJS is not defined
.link@http://localhost:3000/bower_components/angular-pdf/dist/angular-pdf.js:59:9
bind/<@http://localhost:3000/bower_components/angular/angular.js:1291:15
invokeLinkFn@http://localhost:3000/bower_components/angular/angular.js:10249:9
nodeLinkFn@http://localhost:3000/bower_components/angular/angular.js:9638:11
compileTemplateUrl/<@http://localhost:3000/bower_components/a

[2017-02-02 10:06] dennybiasiolli commented on #175
Hi @mrjainvimal,
have you included PDFJS in your sources?

[2017-02-02 11:17] mrjainvimal commented on #175
forgot to include, now included but got unexpected error

[2017-02-02 11:18] mrjainvimal opened #176 "Error: canvas is null"
Error: canvas is null
.link@http://192.168.1.143:3001/bower_components/angular-pdf/dist/angular-pdf.js:50:13
bb/<@https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js:16:54
ja@https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js:81:35
m@https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js:66:274
$/<@https://ajax.googleapis.com/ajax/libs/angularjs/1.5

[2017-02-02 11:28] dennybiasiolli commented on #176
Please refer to section `5` of `Getting started` in Readme file.
https://github.com/sayanee/angularjs-pdf/blob/master/readme.md#getting-started

[2017-02-02 11:28] #176 closed

[2017-02-02 11:28] dennybiasiolli commented on #175
Please refer to section `5` of `Getting started` in Readme file.
https://github.com/sayanee/angularjs-pdf/blob/master/readme.md#getting-started

[2017-02-02 11:28] #175 closed

[2017-02-20 12:17] nemoinho opened #177 "IE 11 incompatible"
angular-pdf blocks IE 11 compatibility of angular-js due to it's dependency on angular 1.6.0 because of a bug which is fixed in angular 1.6.2

Please update dependency to ~1.6 or 1.6.2

[fix(angularInit): allow auto-bootstraping from inline script](https://github.com/angular/angular.js/pull/15571)

[2017-02-20 12:22] dennybiasiolli commented on #177
Hi @nemoinho, thanks for this issue.
We will provide this update as soon as possible, thanks for the suggestion

[2017-02-20 15:54] ammar08429 opened #178 "Words of pdf are srambled"
when i try this PDF in pdf.js it works fine, but when i try it in angularjs-pdf, this is how i see the pdf

<img width="510" alt="screen shot 2017-02-20 at 6 51 48 pm" src="https://cloud.githubusercontent.com/assets/6717231/23132193/e6c3ed62-f79d-11e6-89bb-e2129d9f77be.png">

is there anything i am missing?

[2017-02-20 16:01] dennybiasiolli commented on #178
Hi @ammar08429, thanks the issue, can you provide an example with your code and the PDF?

[2017-02-20 16:13] ammar08429 commented on #178
`<ng-pdf template-url="/www/app/components/pdf/viewer.html" debug="true"></ng-pdf>`
i generated the pdf.js and worker file, added ngPdf directive in to my own angular module
and i tried multiple files , here are two below
[sample.pdf](https://github.com/sayanee/angularjs-pdf/files/787983/lala.pdf)
[arabic-book.pdf](https://github.com/sayanee/angularjs-pdf/files/787974/grade12.pdf)

[2017-02-20 19:38] #177 closed

[2017-02-20 19:55] dennybiasiolli commented on #177
@nemoinho 1.5.1 released with the fix 😉

[2017-02-20 20:09] dennybiasiolli commented on #178
Thanks @ammar08429,
on my MacOS 10.12.3, with Chrome v56, I see your two pdfs in the correct way.

Have you tried to clone this repo and put your pdf in the `example` folder? Then you can launch our example site with `npm start` and open your pdf writing its url in the textbox (`pdf/lala.pdf`).

In my case all works correctly.

If your error persists you can write a simple example on [JSFiddle](ht

[2017-02-20 20:16] dennybiasiolli commented on #170
Hi @jyxzfw,
Can you provide us an example project so we can inspect more?
Thanks!

[2017-02-21 11:37] ammar08429 commented on #178
Thanks @dennybiasiolli
Found the problem
the parent div in which i added the directive had this css
`direction: rtl;`
which was causing this problem

[2017-02-21 11:42] dennybiasiolli commented on #178
Thank you @ammar08429 for the feedback

[2017-02-21 11:42] #178 closed

[2017-02-21 15:53] straussCS commented on #142
@simobasso This does not work for me, angularjs-pdf seems to treat both options as string. Dynamically setting the template-url does not work.

[2017-02-21 16:16] dennybiasiolli commented on #142
@straussCS have you tried editing our example code inserting your custom template's URL?

[2017-02-21 17:14] straussCS commented on #142
@dennybiasiolli I tried with both

`          <ng-pdf template-url="templateUrl" debug="false"></ng-pdf>`
and

`          <ng-pdf template-url="{{templateUrl}}" debug="false"></ng-pdf>`

And in both cases I get a 404:
`Failed to load template: templateUrl (HTTP status: 404 Not Found)`

Please note I am using not using controllerAs, thus no 'vm'.

[2017-02-21 18:08] dennybiasiolli commented on #142
@straussCS can you provide an example of your code on JSFiddle?

[2017-02-21 18:57] straussCS commented on #142
@dennybiasiolli
I just quickly took the plunker from https://github.com/sayanee/angularjs-pdf/issues/169.
See: https://plnkr.co/edit/Qg4pnwrBwK48nkom7OD4?p=preview

That's the Error I am experiencing. Am I misssing something here?

[2017-02-21 19:31] dennybiasiolli commented on #142
Please try starting with our `example` folder files, in plunker from #169 and also in your plunkr needs to be added `pdf.worker.js`.
Another error is in `script.js`:
`$scope.templateUrl = '/test';`
Please provide an example starting from a working folder, like our `example` folder.

[2017-03-06 19:38] SensationSama opened #180 "Trouble getting the pdf to display"
Objective

1. User selects a .pdf file from a list
2. 'Preview File' modal loads with pdf

Using the library I was receiving a null context error due to the javascript running before the modal loads. (The Bootstrap devs don't want manipulation to happen from the controller, so there's no event catch for the modal being loaded or ready)

As a lame solution I made it so that the user can press a pre

[2017-03-06 19:46] dennybiasiolli commented on #180
Hi @SensationSama, can you provide a full JSFiddle (ore something else) with your code?
Thanks!

[2017-03-06 20:19] SensationSama commented on #180
@dennybiasiolli I'm not on the current version of angular but it's [approximately like this.](https://jsfiddle.net/u0qnsc9f/1/)
I doubt my script imports are also working in the fiddle.

[2017-03-06 20:57] dennybiasiolli commented on #180
@SensationSama I doubt that your example is an angular app. Without a real example I can not tell you where the problem is. Sorry

[2017-03-06 20:59] dennybiasiolli commented on #156
@infotokabil do you have any news?

[2017-03-06 20:59] dennybiasiolli commented on #139
Hi @korteee, do you have an example on jsfiddle for us?

[2017-03-06 22:16] SensationSama commented on #180
I obviously can't port my entire codebase. If I fix the script references will that suffice, or does something else stand out to you as **not an angular app**

[2017-03-07 12:02] simobasso commented on #180
@SensationSama maybe you have to compile your injection? For the next time remember that deleted comments are sent via email anyway :).

[2017-03-07 19:55] SensationSama commented on #180
@dennybiasiolli @simobasso I ended up using https://pdfobject.com/

Thanks anyway fellas

[2017-03-07 19:55] #180 closed

[2017-03-15 17:16] bike2live commented on #131
+1
Love the other features, but I need to view 2 pdfs in same page for comparison. Can you point me to what I need to change to make this work?

[2017-03-20 20:14] TrueGeek opened #181 "stream must have data on second load of PDF"
I'm using angularjs-pdf in an Ionic mobile app. It works wonderfully (thank you!) the first time I load a PDF. However, the second time the onError event fires with the message:

I get this even when reloading the save PDF twice in a row. Has anyone else seen this?

[2017-03-21 08:46] dennybiasiolli commented on #181
Hi @TrueGeek, thanks for opening this issue :)
Can you please provide a working example app so we can analyse the issue?
Thanks!

[2017-03-21 19:10] TrueGeek commented on #181
It turns out this issue was caused by the PDF not being written in time before the viewer started up. I'm not sure why it always worked the first time and not the second but I solved it by switching to a file writer that returned a promise so I could wait for the PDF to be written to disk before setting pdfURL to scope.

Thanks!

[2017-03-21 19:10] #181 closed

[2017-03-21 19:29] dennybiasiolli commented on #181
Thanks for the feedback @TrueGeek ! :)

[2017-04-11 08:45] rorydpayne opened #183 "Selectable text"
I know this issue has been opened and closed a couple of times, but I was trying to get text selection working yesterday. It was reasonably straight forward using getTextContent and by including the web/pdf_viewer.js and web/pdf_viewer.css from pdfjs.

Happy to tidy this up a bit and raise a PR if there's interest.

[2017-04-11 09:24] dennybiasiolli commented on #183
Hi @rorydpayne, thanks for this issue, we are finishing the tests for PR #163 to modularize this directive.
I know that including `web/pdf_viewer.js` and `web/pdf_viewer.css` it's possible to use PDFJS's extended features to show selectable text, we can implement this feature after PR is merged.
We are glad to accept your help, what do you think about PR #163 ?

[2017-04-11 09:33] rorydpayne commented on #183
Hi @dennybiasiolli . That's fine - I think the changes in #163 are a good move. I am happy to rework the selectable text functionality after #163 has been merged

[2017-04-11 09:37] dennybiasiolli commented on #183
Thanks @rorydpayne, we are plannig a release within the beginning of the next week, stay tuned! ;)

[2017-04-11 10:05] rhyskoedijk commented on #183
@rorydpayne I also started looking in to selectable text (and search/find) myself, great to see others are working towards this as well. Very keen to see #163 merged and the community functionality/PRs that follow it.

[2017-04-11 10:10] rhyskoedijk commented on #139
I experienced this issue myself, mine was caused because both my directives (and the <canvas> within them) shared the same IDs, which causes all the control buttons to apply to every PDF viewer on the page. With the current directive you need to specify the 'canvasId', which is hard to make unique in angular due to the directives reliance on the link() function to bootstrap the PDF.

In the end, I

[2017-04-11 10:14] rhyskoedijk commented on #90
I am very interested in

1. Multiple viewers in the same page (mostly fixed by new version)
2. Select/highlight/copy text from document
3. Annotation layer
4. Responsive UI

[2017-04-18 12:15] simobasso commented on #122
closed for lack of response

[2017-04-18 12:15] #122 closed

[2017-04-18 12:20] simobasso commented on #133
dup of #90

[2017-04-18 12:20] #133 closed

[2017-04-18 12:22] simobasso commented on #139
@rhyskoedijk #184 is merged! feel free to submit your PR

[2017-04-18 12:24] simobasso commented on #156
closed for lack of response. @infotokabil feel free to reopen this issue

[2017-04-18 12:24] #156 closed

[2017-04-18 12:26] simobasso commented on #162
closed for lack of response, @johnjspiteri feel free to reopen this one.

[2017-04-18 12:26] #162 closed

[2017-04-18 12:27] #166 closed

[2017-04-18 12:28] simobasso commented on #183
@rorydpayne @rhyskoedijk #184 is merged! feel free to submit your PRs

[2017-05-08 13:09] v1r0x commented on #167
I hope it is ok to describe my problem with the provided method here.
I also get the pdf content as base64 and want to display it. Unfortunately our server is behind a proxy and the `URL.createObjectURL` returns an URL using the root of the webserver.

Example:
Our server: `https://subdomain.domain.tld/company/project1/...`
URL returned by `URL.createObjectURL`: `https://subdomain.domain.tld/<obje

[2017-05-16 13:27] DanLatimer commented on #142
Did anyone find a solution to this issue?

[2017-05-18 18:09] andrew-hamilton-dev opened #186 "Strange Path in the Dist JS file"
@dennybiasiolli We are using angularjs-pdf in a webpack2 build setup using karma/instanbul for code coverage and are getting the following error.  Now this error isn't preventing our tests from running and completing but it looks like there is a file path baked into the dist js file which probably shouldn't be in it.

Just wanted to give you a heads up.

`18 05 2017 15:05:39.746:ERROR [coverage]:

[2017-05-19 08:15] dennybiasiolli commented on #186
Thank you @andrew-hamilton-dev for this issue, this was related to the webpack configuration, caused by the inclusion of `istanbul` plugin in the production builds.
We have the PR #187 fixing this issue, thanks again!

[2017-05-19 09:21] #186 closed

[2017-05-22 11:08] dinglittle opened #188 "Need help , My question , I can't show chinese in my project"
In my project ,I use the angular-pdf , but  , it's  can't show  chinese pdf , help me ,thanks !!!

[2017-05-22 12:19] dennybiasiolli commented on #188
Hi @dinglittle , can you provide an example of your code and PDF? Thanks

[2017-05-23 09:47] dinglittle commented on #188
Thanks you reply !

Now I have another question  , as this , I set $scope.pdfUrl to
`"http://xxxx.x.xx.x:8880/utf8-jsp/ueditor/jsp/upload/file/20170522/1495422075553029472.pdf"
`
(my fileserver address) , but can't show the pdf , like demo , the error
```XMLHttpRequest cannot load http://xxxx.x.xx.x:8880/utf8-jsp/ueditor/jsp/upload/file/20170522/1495422075553029472.pdf. No 'Access-Control-Allow-Or

[2017-05-23 10:02] dennybiasiolli commented on #188
Hi @dinglittle , your second issue can be solved with a simple search in [our issue](https://github.com/sayanee/angularjs-pdf/search?q=Access-Control-Allow-Origin&type=Issues&utf8=%E2%9C%93)
It's not a problem with this directive but is a server problem. ;)

[2017-05-23 10:02] #188 closed

[2017-05-25 17:19] #183 closed

[2017-05-25 18:04] #127 closed

[2017-05-25 18:10] #170 closed

[2017-05-30 18:07] mdali602 opened #192 "ReferenceError: PDFJS is not defined"
I'm getting error: ReferenceError: PDFJS is not defined.

The complete error is as follows:-

ionic.bundle.js:26771 ReferenceError: PDFJS is not defined
    at link (http://localhost:8100/js/angular-pdf/angular-pdf.js:7:2319)
    at invokeLinkFn (http://localhost:8100/lib/ionic/js/ionic.bundle.js:22970:9)
    at nodeLinkFn (http://localhost:8100/lib/ionic/js/ionic.bundle.js:22369:11)
    at http:/

[2017-05-30 18:51] dennybiasiolli commented on #192
Hi @mdali602 ,
Have you included PDFJS in your sources?

[2017-06-01 13:25] LucieLeneveu opened #193 "Cross origin request with url and not with another"
Hi,

I tried to use this url : https://docupub.com/docs/7a71fdf4-bd66-4acf-8a8c-a8d1c9897967/TEST_DSI.pdf with ng-pdf but i have a cross origin request. and a proxy authentication required

So, I tried with another url : https://s3-us-west-2.amazonaws.com/s.cdpn.io/149125/relativity.pdf and it's work perfectly.

So i would like to understand why the first url don't work and what the second work.

[2017-06-01 13:59] dennybiasiolli commented on #193
Hi @LucieLeneveu , it seems a server side problem.

You must use CORS in your server side for all requests in `docpub.com`.

https://en.wikipedia.org/wiki/Cross-origin_resource_sharing

I hope this help you!

Cheers

[2017-06-01 13:59] #193 closed

[2017-06-02 08:24] LucieLeneveu commented on #193
Can you give me an example, please ?

I tried to add
<VirtualHost *:80>
	ServerName url-serv
	<Directory ***>
		Header set Access-Control-Allow-Origin "*"
		Header set Access-Control-Allow-Methods "*"
		Header set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding"
	</Directory>
</VirtualHost>
in my httpd.conf but i c

[2017-06-02 09:05] simobasso commented on #193
Please follow this guide: https://enable-cors.org/server_apache.html

Il ven 2 giu 2017, 10:24 LucieLeneveu <notifications@github.com> ha scritto:

[2017-06-05 11:31] NicoBurno opened #194 "Isolate scope"
Why this directive do not use **isolate scope instead of ng-controller**?
If you need help with this - then I can help.

There is also a non-critical flaw: there are best practice - to return _module.name_ to _export default_

[2017-06-05 12:35] dennybiasiolli commented on #194
Hi @NicoBurno, thanks for opening this issue.
I know @endorama is working on isolating directive's scope, but any help will be appreciated.

@endorama can you please push your WIP as a PR?

[2017-06-05 12:42] NicoBurno commented on #194
@dennybiasiolli thank you for your prompt response!

We forked the project and today we will make appropriate changes.
I will share code in this Issue

[2017-06-05 14:17] NicoBurno commented on #194
@dennybiasiolli In our code, many improvements have been made, mainly relating to the optimization...
Backward compatibility and code-style are preserved.

Is it more convenient for you to get several ordered PRs or one big PR in several commits?

[2017-06-05 14:22] dennybiasiolli commented on #194
@NicoBurno thanks again, one PR-per-improvement would be great, so we can review faster 😉

[2017-06-05 15:09] NicoBurno commented on #194
@dennybiasiolli OK. Until tomorrow we will put everything in order :thumbsup:

[2017-06-05 21:05] NicoBurno commented on #194
Sorry, I hurried to conclusions about backwards compatibility.

There were several ways to ensure backward compatibility with Xb, but they all have significant drawbacks:

### We can use a variable for scope in the link-function.

Example:
[code]
  But this does not solve the problem of bindings in a template (they break when you switch to the isolated scope)

### We can use the getter to get vari

[2017-06-06 06:49] dennybiasiolli commented on #194
There is also the idea of converting the directive to an angular Component, isolating the scope and moving the template part outside the component. With this, we can interact with the component with events allowing users to customize their templates outside the component.
We will lost backward compatibility, but we can release a major version of ngPdf with breaking changes.
What do you think about

[2017-06-06 07:29] NicoBurno commented on #194
@dennybiasiolli Angular-component is just a angular-directive with a limited API. In the case of our library, it makes no sense to make the component. All that the component can do - you can make a directive.

If you refuse backward compatibility when going to an isolated area, then there will be no problems with the directive.

Should I do the PR without backward compatibility? If so, which branc

[2017-06-06 07:44] dennybiasiolli commented on #194
Ok @NicoBurno, you can make the PR starting from branch master, thanks!

[2017-06-06 09:27] Todai88 opened #196 "Canvas expands containing module's height and changes bg-color of body when doing so."
Good morning,

I've been fiddling with this package to implement a pdf-viewer in a little kiosk application I'm developing.

However as it stands right now the pdf, when scaled to `fit` pushes the height of the containing module way out of bounds, which seems to make the default background-color of `md-content` to spill into the body's background.

You can find an example here [on our website](htt

[2017-06-06 09:45] dennybiasiolli commented on #196
Hi @Todai88,
I think it is a CSS problem, not related to the directive. It appears when the directive loads the content to an height greater than the height of the body.
Looking at your CSS, it seems that you have a `height: 100%;` in your `body`, inherited from `angular-material.min.css`.
Removing that, you can see the full background.

[2017-06-06 21:12] endorama commented on #194
Hello @dennybiasiolli @NicoBurno, sorry for the late replay! Do you still need my WIP or @NicoBurno implementation is already better than mine? :) You can have a look [here](https://github.com/endorama/angularjs-pdf/tree/isolated-scope).

Granted, my work was just a quick WIP from a couple hours of hacking around the refactor!

Let me know!

[2017-06-07 05:51] Vipul25 opened #197 "Dynamic Creation of Canvas Issue"
The commit for dynamic creation of canvas from the directive is not pushed to bower please do so.

It is giving error at getting the context of canvas.

[2017-06-07 07:17] dennybiasiolli commented on #197
@Vipul25 thanks for this issue, I've just published the last version on `npm` and `bower`, can you try now?

[2017-06-07 07:41] dennybiasiolli commented on #194
Thanks @endorama, please submit your WIP so we can take a look, thanks! 😄

[2017-06-07 07:42] NicoBurno commented on #194
@endorama thanks for the answer!

I reviewed your implementation. This implementation is much better than the previous one =)
Perhaps we could use this implementation in our product...

But, if we want to adhere to the best practices of angular-development, then we should abandon ngPdfFactory - it unnecessarily complicates the API. The best solution would be to bind configuration to directive's pr

[2017-06-07 07:56] #196 closed

[2017-06-07 07:58] dennybiasiolli commented on #192
@mdali602 did you resolved your issue?

[2017-06-07 09:32] NicoBurno opened #198 "What caused the release of the major-version 2.0.0?"
I ask because I don't understand why it was necessary to release the major-version. Backwards compatibility is supported in full measure...
Usually in such cases, a minor version release. For example, 1.7.0

@dennybiasiolli can you help with this question?

[2017-06-07 09:51] dennybiasiolli commented on #198
@NicoBurno release of major version 2.0.0 is caused by commit ea8056c, discovered by #197.
Two weeks ago we merged a PR with the creation of a dynamic canvas, but I forgot to release the major version.

[2017-06-07 10:06] NicoBurno commented on #198
@dennybiasiolli I understood. Thank you.

[2017-06-07 10:06] #198 closed

[2017-06-07 10:19] sblantipodi commented on #192
I have the same problem. I am including sources like this:
require.config({
	paths : {
		moment : '/addons/osst/bower_components/moment/moment',
		text: '../../../../bower_components/requirejs-plugins/lib/text',
        json: '../../../../bower_components/requirejs-plugins/src/json',
        pdfjs : '/addons/osst/bower_components/pdfjs-dist/build/pdf',
        pdf : '/addons/osst/bower_components/

[2017-06-07 10:34] dennybiasiolli commented on #192
@sblantipodi can you please provide a full example of your code on jsfiddle?

[2017-06-07 12:52] sblantipodi commented on #192
this library seems broken while using requirejs.
define('pdfjs-dist/build/pdf', ['exports'], factory);
why use exports?

[2017-06-07 12:52] sblantipodi commented on #192
and why not use the newer  pdfjs?
https://github.com/mozilla/pdfjs-dist/blob/master/build/pdf.js#L12184

[2017-06-07 12:58] dennybiasiolli commented on #192
This is in pdfjs code, not in our directive.

Because [latest pdf.js stable version](https://github.com/mozilla/pdf.js/releases) is v1.7.225

[2017-06-07 12:58] #192 closed

[2017-06-14 08:48] simonedavico commented on #106
I want to add something to the useful explanation by @brettmeyer: I implemented the same thing (PDF preview in a `$ionicModal`) and I had to make sure to call `modal.remove()` when closing it. Otherwise, when reopening the PDF would not be rendered correctly. Just thought it may be useful to someone struggling on the same problem as me in the last two hours!

[2017-06-16 04:39] jenikaur opened #199 "Error: No PDFJS.workerSrc specified"

[2017-06-16 05:05] dennybiasiolli commented on #199
Can you provide more info about your error?

[2017-07-06 17:51] mobpakrd opened #200 "Links within pdfs not working?"
Hello,
We have implemented angularjs-pdf and things are generally working well except that links in pdfs are not clickable. They just render without being links. I've attached a pdf with links that works fine in pdf-js but in our app does not work. We are currently using version 1.5.5 of angularjs-pdf. https://mozilla.github.io/pdf.js/web/viewer.html
Additionally the demo at https://sayan.ee/angul

[2017-07-08 09:51] dennybiasiolli commented on #200
Hi @mobpakrd,
unfortunately this directive display pdfs without the text layer, so links are not clickable.
If you have some spare time, any helps and PR will be appreciated  😄

[2017-07-08 16:12] jaime-ez commented on #199
Hi, I encountered a similar error. For what I could isolate pdf.js has some issues when calling the worker. For instance if I use pdf.min.js it will look for pdf.min.worker.js (instead of pdf.worker.min.js) and thus a PDFJS.workerSrc error is emitted.
This happens also after the build step for my bower deps where all files are uglified and concat into one scripts.FILEREVNUMBER.js file, thus pdf.js

[2017-07-08 16:32] jenikaur commented on #199
Thanks for the help but resolved the issue by including the file for
pdfjsworker.

Regards

On Jul 8, 2017 9:42 PM, "jaime echegaray zipper" <notifications@github.com>
wrote:

[2017-07-08 16:47] #199 closed

[2017-07-08 16:47] #200 closed

[2017-07-08 16:47] #197 closed

[2017-07-10 14:18] mobpakrd commented on #200
@dennybiasiolli if I were to go about making that change, how would you recommend going about it? Are there perhaps other libraries that do handle the text layer that I could look at? I'm not super familiar with pdfs but this is an important thing for us so if it's not overwhelming you might be a looking at a pr not too far away.

[2017-07-11 09:10] dennybiasiolli commented on #200
@mobpakrd a good starting point is in pdf.js code, something like the link you posted: https://mozilla.github.io/pdf.js/web/viewer.html
😉

[2017-07-13 12:21] NBE1 commented on #183
@rorydpayne Any updates on your progress?

[2017-07-16 03:01] mzmousa opened #201 "Instructions for generator-angular-fullstack?"
Has anyone added this into their web app using [generator-angular-fullstack](https://github.com/angular-fullstack/generator-angular-fullstack)? I'm struggling to get it working. A few things I tried:
-
Adding these lines in `client/app/app.js`:
[code]
Creating a new component `pdfViewer` in `client/components/`
Here's `client/components/pdfViewer.component.js`
[code]
Here's `client/components/pdfV

[2017-07-18 19:57] dennybiasiolli commented on #201
Hi @mzmousa,
I think you can't import 'pdf' in an angular module because it's not an angular module.
Simply include it in your html page with `<script src="path/to/your/pdf.js/lib"`.
Hope this helps!

[2017-07-23 17:02] rajeshwarpatlolla commented on #146
Does swiping works with this plugin, so that i can swipe the screen to move to next and prev pages?

[2017-07-26 07:04] Galaba563 opened #203 "How can i use image data instead of URL, how i need show in pdf viewer?"

[2017-07-26 07:37] dennybiasiolli commented on #203
Hi @Galaba563, did you see the example in README?
https://github.com/sayanee/angularjs-pdf#when-url-is-base64-or-uint8array

[2017-07-26 07:57] Galaba563 commented on #203
Hi @dennybiasiolli , I will explain my scenario, I had Image Data (converting from HTML), Using that data i need show as PDF with in PDF Viewer.

Below code I am using:

var imageData = data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABJIAAAFjCAYAAABmGyEEAAAgAElEQVR4Xu3dC5TlVX0v+N/+16NLoXi1YPCJ0IxcBtsuCieaK1EIConBB8bEaCY6CeEmGmfwZplJjHdoVnRuopPIXK/eG4IOmVGvUS8EzY0QiSJyRWKfLmjQ4IQgxncL2NAC1fX471n73HN6

[2017-07-26 08:51] dennybiasiolli commented on #203
I think you first need to convert in some way your image to PDF before create the blob of type `application/pdf`.

[2017-07-26 11:14] Galaba563 commented on #203
Hi @dennybiasiolli, I was trying to different way, I am converting image data to normal PDF by using below code:  pdfMake.createPdf(docDefinition).download("pdfsFile/test.pdf");

but how can i assign to same thing to PDFUrl. any idea?
could you please help me out. Thanks in advance !!!

[2017-07-26 12:31] dennybiasiolli commented on #203
You can search if the tool you use to create pdfs allows you to use the created pdf as blob data. Sorry but I have no idea on how that tool works.

[2017-07-26 15:20] Galaba563 commented on #203
Hi @dennybiasiolli , i am able to convert to  Uint8Array, Using that I am using below code
[code]

But **$scope,pdfUrl** is like : `blob:null/4f9d8574-5bf1-4a10-adca-d8555afe901b`

any help from you, please. Thank you in advance !

[2017-07-26 16:04] simobasso commented on #203
Hi @Galaba563 !

Your problem it's not on `$scope.pdfUrl` (or in `angularjs-pdf` at all).

`URL.createObjectURL` is a method that generate an unique url for an asset (in your case `currentBlob`) but there are some _caveats_.

## URL rappresentation

ie. `blob:null/4f9d8574-5bf1-4a10-adca-d8555afe901b`

| blob  | null | 4f9d8574-5bf1-4a10-adca-d8555afe901b |
| ------------- | ------------- | ------

[2017-07-26 16:04] #203 closed

[2017-07-26 16:29] Galaba563 commented on #203
Hi @simobasso , Thank you for spent your valuable time to reply, Definitely it is out scope, but as per request, could you please look into it one more time.

Problem :```
 I had Image Data need to show PDF-Viewer as PDF.

Below code :

 Image Data: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABJIAAAFjCAYAAABmGyEEAAAgAElEQVR4Xu3dC5TlVX0v+N/+16NLoXi1YPCJ0IxcBtsuCieaK1EIConBB8bEaCY6CeEmGmfwZplJjHdo

[2017-07-27 14:35] simobasso commented on #203
Hi @Mean563!

I've just tried your code in a chrome console but it's work as expected

![schermata 2017-07-27 alle 16 30 07](https://user-images.githubusercontent.com/4202614/28675770-1a287c92-72e9-11e7-9445-49f4bb6f465c.png)

Where you run your code?

P.S. double check your comment before post, otherwise it's more difficult for me try to help you. 😄

[2017-07-27 14:46] Mean563 commented on #203
@simobasso , Sorry @simobasso  Really I am very sorry. Actually i was tired with local without localhost or server. after seen your reply i was seen but still issue is, I am passing same url to $scope.pdfUrl but still pdf not loaded on PDF Viewer?

[2017-07-27 14:53] simobasso commented on #203
@Mean563 don't worry :)

I don't think you could create a pdf in this way.

Have you looked https://parall.ax/products/jspdf ? it's seems fit perfectly for you scope

[2017-07-28 11:20] tarunmeena512 opened #204 "pageCount is not getting refresh when i open second pdf."
hi
pageCount is not getting refresh when i open the second pdf unless and until second pdf data is not loaded successfully .

[2017-07-28 11:25] tarunmeena512 commented on #204
![1 pdf](https://user-images.githubusercontent.com/30525908/28715413-7d114614-73b5-11e7-8666-c2ff87b4134c.png)
![2 pdf](https://user-images.githubusercontent.com/30525908/28715418-81cbbec8-73b5-11e7-857f-070b3991ca44.png)

[2017-07-28 11:25] tarunmeena512 commented on #204
pageCount refresh only after second pdf data loaded successfully.

[2017-07-29 16:06] dennybiasiolli commented on #204
Hi @tarunmeena512, can you provide an example on jsfiddle or something similar? Thanks! 😉

[2017-07-29 16:23] tarunmeena512 commented on #204
hi, @dennybiasiolli could you please check the screenshots that I mentioned above ...like here the issue is pdf is showing loading but page count is 1/3 (which is the previous pdf page count) and i want if every time we open new pdf it should be like 1/0.
how can i  set **pageCount = 0**; every time when i open new pdf.

[2017-07-31 14:07] dennybiasiolli commented on #204
Hi @tarunmeena512, can you please provide an example on jsfiddle or something similar? So I can look at the code. Thanks! 😉

[2017-08-08 11:28] kalebakula opened #205 "pdf viewer is not loading pdf file in case of all librbaries bundles into one lib.js"
Hi
In our aplication all the library files gets bundled into one lilb,js where pdf.js and pdf.worker.js also part of bundle

whenever we give valid url to $scope.pdfUrl, it looks for lib.worker.js because of this line  return pdfjsFilePath.replace(/\.js$/i, '.worker.js');
getting 404 not found since it is not present
If i comment this line and return pdfjsFilePath alone it works

Is this the only

[2017-08-08 12:17] dennybiasiolli commented on #205
Hi @kalebakula, I think you should put `pdf.worker.js`, take a look at this example of pdf.js: https://github.com/mozilla/pdf.js/tree/master/examples/webpack

[2017-08-10 23:51] diasraphael opened #206 "multiple pdf in same page"
How to pass different value to pdfurl while iterating via ng-repeat to load different pdf in same page.

[2017-08-23 13:12] d1buts commented on #206
Hi. You can create component with controller, pass data in it, include  ng-pdf directive and repeat.

[2017-09-11 09:31] Paulsky opened #207 "Canvas Id"
Hello,

I want to position the canvas element myself. I read in the Readme that I should use '`<canvas id="x"></canvas>`'.

But that’s not working. If I’m looking in the source code, I can see how the canvas is created: '`var canvas = $document[0].createElement('canvas');`'.

But I can’t find anything in the code that checks for canvasid or if there is an existing canvas. Could you please help me?

[2017-09-11 18:04] darshantejani007 opened #208 "How to enable caching?"
I am using this `angularjs-pdf` in `IONIC framework` ( which is entirely based on `AngularJS`). Everything works fine, except when I change the page, it flickers a lot and takes time to render, going from top to bottom. Even if the page is previously visited, it takes the same time to load it. Is there a way to simply cache at least the pages which are already rendered once? Please let me know if

[2017-09-12 14:34] mateoSerna commented on #207
Same problem here

[2017-09-16 09:49] dennybiasiolli commented on #208
Hi @darshantejani007,
page is not cached, every time you change page, the page is [reloaded](https://github.com/sayanee/angularjs-pdf/blob/master/src/angular-pdf.directive.js#L71) and [re-rendered](https://github.com/sayanee/angularjs-pdf/blob/master/src/angular-pdf.directive.js#L94).

[2017-09-16 09:53] #206 closed

[2017-09-16 09:57] dennybiasiolli commented on #201
@mzmousa did you resolve this issue?

[2017-09-16 09:57] #204 closed

[2017-09-16 09:57] #205 closed

[2017-09-16 11:41] darshantejani007 commented on #208
@dennybiasiolli Thanks! That much I understood. Now is there a way to flip the switch of caching? I want to enable it!

[2017-09-18 04:24] mzmousa commented on #201
Yes, I will update this issue shortly

[2017-09-29 09:48] faizalpribadi opened #210 "control toolbar on directive"
Why not showing print or download button on toolbar like previous and next button ? can you explain about that ? in there, pdfjs allowed download and print by default, thanks

ping @sayanee  @dennybiasiolli

[2017-10-01 07:57] ansarikhurshid786 commented on #167
Than you @dennybiasiolli, for giving correct solution. can you please share how to display it.

[2017-11-16 05:36] kalebakula opened #212 "show all individual pages just beside viewer in tiny size"
show all individual pages just beside viewer  in tiny size  so that user can directly select the page and view that page in viewer and do other operations like delete

[2017-11-16 05:43] kalebakula opened #213 "resize of canvas not working, width and height styles will be overwritten by angular-pdf code"
Need a solution to resize the canvas so that we can avoid vertical scroll bar. We are applying custom styles dynamically after pdf loads(in on load event). But width and height styles are getting overwritten by angular-pdf code

Please comment on this

[2017-11-16 07:23] dennybiasiolli commented on #210
Hi @faizalpribadi,
this is a simple

What you see in demo page is only an example, but feel free to submit a PR if you want. 😉

[2017-11-16 07:23] #210 closed

[2017-11-16 07:25] dennybiasiolli commented on #212
Hi @kalebakula,
this is a simple

You can implement your own viewer using a directive for each page you need to show, but this directive works showing only a single page.

[2017-11-16 07:25] #212 closed

[2017-11-16 07:32] dennybiasiolli commented on #213
Hi @kalebakula,
Have you tried using `scale` attribute in the directive?
You need to apply custom styles and then load pdf, so `scale` attribute can work in your final layout.

[2017-11-16 09:02] faizalpribadi commented on #210
@dennybiasiolli , can you explain about what you say **this is simple** ? , i read this issue from this https://github.com/sayanee/angularjs-pdf/issues/111 , until now, feature does not implemented

[2017-11-17 08:20] dennybiasiolli commented on #210
@faizalpribadi , i wrote that *"this is **a** simple AngularJS directive to display PDF files with PDFJS"*.

As you can read in #111

So we are happy to look at a PR on this feature, but currently we don't have this feature 😉

[2017-12-12 10:49] jegjessing commented on #207
I too have this issue. Any solution for this soon?
I'd like not to modify the source.

Should/could I modify the source and commit it here?

[2017-12-12 11:10] dennybiasiolli commented on #207
Yes @jegjessing , you can modify the source, PR's are welcome!

[2017-12-13 14:57] 2xSamurai opened #214 "Show all the pages"
Is there any option to show all the pages vertically scrollable.

I mean to load the full pdf and not one single page at a time.

[2017-12-15 08:47] yogendrakarekar commented on #110
@johnjspiteri with your code provided above it does creates a pdf but when opened in browser shows no data.
This is the url generated below
blob:http://localhost:8888/be9be94b-5750-418c-9159-43d62c0657ad

[2017-12-19 10:53] dennybiasiolli commented on #214
Hi @2xSamurai,
unfortunately at this moment there is not the option you described, this directive is intended for showing a single PDF page, but PRs are welcome 😃

[2017-12-19 10:53] #214 closed

[2017-12-19 14:22] johnjspiteri commented on #110
I would love to help a fellow coder - would need more information. It can be difficult to create an online example...

It seems to me that the issue is browser related - can you test FireFox, Chrome and Safari to see if the PDF works on any of those browsers?

[2018-01-14 20:41] justnajm opened #215 "Zoom Issue"
Hi, your work is absolute talent.

Kindly tell me how can I limit the zoom feature as it continues zoom out till vanish and similarly infinite zoom in :(

[2018-01-15 08:16] dennybiasiolli commented on #215
Hi @justnajm,
actually there's no way to limit zoom feature, but you can customize your app limiting calls to `zoomIn()` when clicking on `+` or `-` button.
Home this helps :)

[2018-02-13 15:26] aschaeffer opened #216 "Zoom level 0%"
zoomOut reduces the zoom level by 20%. It doesn't make much sense to do this if the zoom level is currently 20%. This results in a zoom level of 0%.

[2018-04-18 08:10] shaoXunLu opened #219 "Prod question"
My localhost test is OK.  After I deployed to the server,I got an error

![image](https://user-images.githubusercontent.com/16425074/38919354-ef94c0ca-4322-11e8-81c0-a4ce8dde63a4.png)

How should I deal with it?

[2018-04-18 08:36] shaoXunLu commented on #219
Thank you
in my  angularjs file
![image](https://user-images.githubusercontent.com/16425074/38920498-f8ffa5dc-4325-11e8-9f0a-a629cfc17d03.png)
on my back-end
I have a restful
@RestController
@RequestMapping("/download")
public class DownloadController {
    private final FileStorage storage;

    @Inject
    public DownloadController(FileStorage storage) {
        this.storage = storage;
    }

[2018-06-08 08:54] Jazeb opened #220 "can we add/delete specific pdf page?"

[2018-06-08 09:46] dennybiasiolli commented on #220
Hi @Jazeb , unfortunately this directive is only intended for showing pdf, not for edit.

[2018-06-08 09:46] #220 closed

[2018-06-18 19:32] nagano commented on #142
If anyone is still interested in this, you have to force a compilation using `$compile` or compile function in your directive, in order to turn `template-url` dynamic.

In my case it was being called inside another directive.
[code]

[2018-07-05 13:03] sanjayradadiya opened #221 "IE issue - No PDFJS.workerSrc specified"
Directive is not working on internet explorer its getting `No PDFJS.workerSrc specified` error.

[2018-08-03 07:46] nelhu opened #223 "rendering all page when loaded"
How can I load all page when loaded

[2018-08-06 13:52] cschwaderer opened #224 "Browser zoom 80% causes PDF background not to be complete"
First of all: I'm not sure whether this is an Angular-PDF or PDF.JS issue.

Problem is: If browser zoom is ca. 80% the PDF is not rendered correctly.
Consider this PDF: [foo.pdf](https://github.com/sayanee/angularjs-pdf/files/2262746/foo.pdf)

Normally, it should be rendered like this on a page with red background:
![229](https://user-images.githubusercontent.com/18464127/43720205-23c5f7ba-9990-11

[2018-08-07 07:08] cschwaderer commented on #221
I had the same IE error in my project, maybe the reason is also the same (it's strange enough):

I have basically just one JavaScript file which is called "myapp.js". All AngularJS and PDF.JS stuff is concatenated into this file.
The PDF.JS worker file is called "myapp.worker.js" - and has to be in the same folder as "myapp.js". I ran into a problem with IE 11 when I set the `defer` attribute in t

[2018-08-08 09:46] cschwaderer commented on #224
Seems to be a problem of Angular-PDF. At least, I couldn't reproduce it in pure PDF.JS See JSfiddle: [https://jsfiddle.net/34axc20j](https://jsfiddle.net/34axc20j)

[2018-09-13 13:15] vikasyadav11 commented on #44
Anyone has code on angular 2+ ? Please provide the link

[2019-05-08 11:00] SwanHtetKyaw24 opened #225 "how to use dynamic template-url"
Can template-url value can be dynamically assigned from controller or dom?
I would like to use like this

Currently whatever value use for template-url is only regarded as string value. Is there a work around to avoid this manner? I also found out that issue #142  is same as this but there is no visible and working answer provided in that issue.

[2019-05-13 07:36] dennybiasiolli commented on #225
Hi @SwanHtetKyaw24

I think the only solution is to force a compilation using `$compile`, like in the example at [this comment](https://github.com/sayanee/angularjs-pdf/issues/142#issuecomment-398169228)

[2019-05-14 10:28] SwanHtetKyaw24 commented on #225
Thz for reply. I use a work-around by directly using pdf.js and angular-pdf.min.js. In that way, that issue can be avoided though I had to manually create canvas to handle showing PDF.

[2019-05-14 10:31] #225 closed

[2019-11-08 22:11] Sri2468 opened #226 "Is this compatible with angular js 1.3 version?"

[2019-11-09 07:02] dennybiasiolli commented on #226
Hi @Sri2468 ,

I think it's compatible, but I haven't tested with angular js 1.3

[2019-11-13 18:56] #226 closed, assigned to nobody

[2019-11-13 18:57] Sri2468 commented on #226
Thanks

[2020-01-29 22:20] jjroth commented on #110
@johnjspiteri You sir are a legend! [That solution works brilliantly](https://github.com/sayanee/angularjs-pdf/issues/110#issuecomment-269547160).

I've been searching the interwebs for days looking for a solution to this issue. You'd think being able to generate a downloadable pdf document from a base64 encoded string would be straightforward...but no!

[This solution](https://github.com/sayanee/

[2020-01-30 07:56] johnjspiteri commented on #110
@jjroth you are welcome!  Happy that you are getting to where you are going... you inspired me to refactor the answer a little.

[2020-03-21 03:11] #223 closed

[2020-09-25 12:18] MShirazAhmad opened #227 "Showing all pdf pages simultaneously"
Is there any way to show all pages inline on a single load of the web page?
I plan to show 3 pages pdf file showing 3 pages simultaneously

[2020-09-25 12:32] dennybiasiolli commented on #227
Hi, it's a long time since I used this component, but I think you have to do an `ng-repeat` for each page in your PDF, using, for example, something like `<ng-pdf template-url="/partials/viewer.html" page="1"></ng-pdf>`.

If the number of pages is fixed to 3, you can do this:
[code]

Keep in mind that is not memory optimized because every component perform a `PDFJS.getDocument()` call, when it wou